a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top; }

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
table, table td { 
  padding:0;
  border:none;
  border-collapse:collapse;
}
img {
  vertical-align:top;
  border: 0;
}
embed { 
  vertical-align:top;
}

.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
    display: block;
}

textarea {
    overflow: auto;
    vertical-align: top;
}

:focus,:active,:hover {
    outline: none;
}

*{
	padding:0; margin:0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, html {
	width: 100%;
	min-width: 320px;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #ffffff;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #bababa;
	opacity: 1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #bababa;
	opacity: 1;
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster_0.eot');
    src: url('../fonts/lobster_0.eot') format('embedded-opentype'),
         url('../fonts/lobster_0.woff') format('woff'),
         url('../fonts/lobster_0.ttf') format('truetype'),
         url('../fonts/lobster_0.svg#Lobster1.4Regular') format('svg');
}

.wrapper{
	width: 980px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

/*==========================
Top block
==========================*/

.top-block{
	background: url(../images/top-block-bg.jpg) center top no-repeat;
	height: 945px;
	padding: 20px 0 0 0;
}
.channels{
	position: relative;
	color: #ffffff;
	text-align: left;
	font-size: 24px;
	line-height: 24px;
	font-weight: 800;
	margin: 0 0 0 360px;
}
.channels span{
	display: inline-block;
	vertical-align: middle;
	background: url(../images/channels-bg.png) no-repeat;
	width: 176px;
	height: 46px;
	margin: 0 0 0 25px;
}
.top-title-block{
	margin: 0 0 0 270px;
	background: url(../images/man-text-bg.png) no-repeat;
	width: 678px;
	height: 136px;
	padding: 25px 0 0 30px;
}
.top-title-block h1{
	font-family: 'Lobster';
	text-align: left;
	color: #ffba00;
	font-size: 72px;
	line-height: 72px;
	font-weight: 400;
}
.with-help{
	margin: 0 0 0 340px;
	color: #ffffff;
	font-size: 32px;
	line-height: 32px;
}
.top-slogan{
	padding: 15px 0;
	margin: 20px 0 0 310px;
	width: 470px;
	background: rgba(255,255,255,0.6);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.top-slogan p{
	text-align: center;
	color: #010101;
	font-size: 32px;
	line-height: 36px;
	font-weight: 300;
}
.top-slogan p.magnit{
	color: #680e8e;
	font-weight: 600;
}
.top-block-right{
	margin: 35px 0 0 0;
	width: 470px;
	float: right;
}
.warranty-icons-list ul{
	list-style-type: none;
}
.warranty-icons-list ul li{
	display: inline-block;
	background: url(../images/warranty-icons.png) no-repeat;
	width: 112px;
	height: 112px;
	margin: 0 15px 0 0;
}
.warranty-icons-list ul li + li{
	background-position: 0 -112px;
}
.warranty-icons-list ul li + li + li{
	background-position: 0 -224px;
	margin: 0;
}
.warranty-text-list{
	margin: 35px 0 0 25px;
}
.warranty-text-list ul{
	list-style-type: none;
}
.warranty-text-list ul li{
	position: relative;
	color: #ffffff;
	font-size: 20px;
	line-height: 34px;
	text-align: left;
	padding: 0 0 0 32px;
	font-weight: 300;
}
.warranty-text-list ul li:before{
	position: absolute;
	left: 0;
	top: 4px;
	content: "";
	background: url(../images/warranty-text-li.png) no-repeat;
	width: 21px;
	height: 23px;
}
.goform-btn{
	margin: 37px 0 0 39px;
}
.yellow-btn{
	display: block;
	background: url(../images/btn-bg.png) no-repeat;
	width: 253px;
	height: 71px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-size: 32px;
	line-height: 60px;
	text-transform: uppercase;
	font-weight: 800;
	text-decoration: none;
	text-shadow: 0px 4px 3px rgba(233, 165, 8, 1);
	border: 0;
	cursor: pointer;
}
.yellow-btn:hover{
	background-position: 0 -71px;
}
.yellow-btn:active{
	background-position: 0 -142px;	
}

/*==========================
Edges block
==========================*/

.edges-block{
	background: url(../images/edges-bg.jpg) no-repeat;
	height: 1339px;
	padding: 140px 0 0 0;
}
.edges-text{
	width: 242px;
}
.edges-text p{
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 8px 0;
	color: #000000;
	font-weight: 300;
}
.edges-text p span{
	font-weight: 800;
}
.edges-pc{
	position: absolute;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	font-weight: 400;
}
.edge-one{
	left: 520px;
	top: 300px;
	width: 100px;
}
.edge-two{
	left: 590px;
	top: 520px;
	width: 180px;
}
.edge-three{
	left: 590px;
	top: 670px;
	width: 180px;
	width: 150px;
}
.edge-four{
	left: 230px;
	top: 870px;
	width: 180px;
	width: 180px;
}
.egdes-arrow-one{
	position: absolute;
	left: 465px;
	top: 350px;
	background: url(../images/egdes-arrow-one.png) no-repeat;
	width: 147px;
	height: 126px;
}

/*==========================
About cream block
==========================*/

.about-cream-block{
	border-top: 3px solid #ffffff;
	border-bottom: 3px solid #ffffff;
	padding: 66px 0 0 0;
	height: 803px;
	background: url(../images/about-cream-bg.jpg) no-repeat;
}
.about-cream-right{
	margin: 0 0 0 242px;
}
.about-cream-block h2{
	margin: 0 0 15px 0;
	font-family: 'Lobster';
	color: #ffffff;
	text-align: left;
	font-size: 32px;
	line-height: 32px;
}
.about-cream-block p{
	margin: 0 0 10px 0;
	color: #000000;
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
}
.about-cream-block p span{
	font-weight: 800;
}

/*==========================
Doctor block
==========================*/

.doctor-block{
	padding: 45px 0 0 0;
	height: 1001px;
	background: url(../images/doctor-bg.jpg) no-repeat;
}
.doctor-block h2{
	font-family: 'Lobster';
	color: #ffffff;
	font-size: 24px;
	line-height: 24px;
	text-align: left;
	font-weight: 400;
	margin: 0 0 15px 0;
}
.doctor-text{
	background: #ffffff;
	width: 710px;
	padding: 25px 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.doctor-text p{
	margin: 0 0 10px 0;
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
}
.about-doctor{
	margin: 30px 0 0 0;
}
.about-doctor .doctor-name{
	font-size: 14px;
	line-height: 22px;
	font-weight: 800;
	margin: 0 0 5px 0;
}
.doctor-city{
	font-size: 14px;
	line-height: 22px;
	font-weight: 300;
}
.doctor-img{
	position: absolute;
	right: -125px;
	top: -169px;
	background: url(../images/doctor-img.png) no-repeat;
	width: 815px;
	height: 729px;
}
.doctor-block .warranty-icons-list{
	position: relative;
	z-index: 3;
	margin: -40px 0 0 470px;
}
.how-use-cream{
	width: 350px;
	margin: 70px 0 0 470px;
}
.how-use-cream h3{
	font-family: 'Lobster';
	text-align: left;
	color: #439886;
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	margin: 0 0 20px 0;
}
.how-use-cream p{
	text-align: left;
	color: #000000;
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	margin: 0 0 15px 0;
}
.how-use-cream .goform-btn{
	margin: 40px 0 0 0;
}

/*==========================
Reviews block
==========================*/

.reviews-block{
	padding: 41px 0 0 0;
	border-top: 3px solid #ffffff;
	background: url(../images/review-bg.jpg) no-repeat;
	height: 965px;
}
.reviews-block h2{
	text-align: left;
	color: #ffffff;
	font-size: 24px;
	line-height: 24px;
	font-family: 'Lobster';
	font-weight: 400;
	margin: 0 0 45px 372px;
}
.reviews-list-block{
	width: 650px;
	margin: 0 0 0 40px;
}
.review-item{
	margin: 0 0 50px 0;
}
.review-item .review-img{
	width: 305px;
}
.review-item .review-text-container{
	width: 300px;
}
.review-item .review-text-container .review-author-name{
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	color: #ffffff;
	font-weight: 800;
	margin: 0 0 20px 0;
}
.review-item .review-text-container .review-text{
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	color: #ffffff;
	font-weight: 300;
}
.review-item .review-text-container .review-text span{
	font-weight: 800;
}
.review-item .review-text-container .review-author-name span{
	margin: 0 0 0 20px;
	color: #12d124;
}
.review-item.img-left .review-img{
	float: left;
	margin: 0 30px 0 0;
}
.review-item.img-right .review-img{
	float: right;
	margin: 0 0 0 30px;
}
.review-item.img-left .review-text-container{
	float: right;
}
.review-item.img-right .review-text-container{
	float: left;
}

/*==========================
We trust block
==========================*/

.why-trust-block{
	padding: 50px 0 0 0;
	height: 510px;
	background: url(../images/trust-bg.jpg) no-repeat;
}
.bottom-box-img{
	position: absolute;
	left: 0;
	top: 0;
	background: url(../images/bottom-box.png) no-repeat;
	width: 252px;
	height: 508px;
	z-index: 1;
}
.why-trust-text{
	margin: 0 0 0 340px;
}
.why-trust-block h2{
	text-align: left;
	font-family: 'Lobster';
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 400;
	margin: 0 0 10px 0;
}
.why-trust-text p{
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
}
.get-warranty{
	margin: 15px 0 0 0;
}
.get-warranty h4{
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	font-weight: 400;
	margin: 0 0 15px 0;
}
.get-warranty-list{
	float: left;
	width: 340px;
	margin: 0 40px 0 0;
}
.get-warranty-list ul{
	list-style-type: none;
}
.get-warranty-list ul li{
	background: url(../images/get-warranty-ico1.png) left center no-repeat;
	padding: 10px 0 10px 95px;
	color: #000000;
	font-size: 14px;
	line-height: 22px;
	text-align: left;
	font-weight: 400;
	margin: 0 0 10px 0;
}
.sertificate-img{
	float: left;
	width: 200px;
}

/*==========================
Order form block
==========================*/

.order-block{
	background: #210639;
	padding: 87px 0 26px 0;
}
.price-block{
	float: left;
	width: 360px;
	position: relative;
}
.price-block h3{
	color: #ffba00;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	font-weight: 800;
	margin: 0 0 15px 0;
}
.price-block .new-price{
	margin: 0 0 15px 0;
	text-align: center;
	color: #ffba00;
	font-size: 48px;
	line-height: 50px;
	font-weight: 800;
}
.price-block .old-price{
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	font-weight: 800;
	text-decoration: line-through;
}
.order-form-block{
	float: left;
	width: 260px;
}
.order-form .form-row{
	margin: 0 0 16px 0;
	position: relative;
}
.input-form{
	border: 1px solid #cccccc;
	width: 255px;
	height: 36px;
	padding: 7px 10px 7px 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.input-form:focus{
	border: 1px solid #3f87dd;
}
.input-form.name-input{
	background: #ffffff url(../images/name-ico.png) 10px 5px no-repeat;
}
.input-form.tel-input{
	background: #ffffff url(../images/tel-ico.png) 13px 3px no-repeat;
}
.order-form-block .yellow-btn{
	padding: 0 0 12px 0;
}
.error-name, .error-tel{
	padding: 5px 15px;
	color: #ffffff;
	font-size: 14px;
	line-height: 14px;
	display: none;
	position: absolute;
	top: -25px;
	left: 0px;
	background: red;
}
.counter-block{
	float: right;
	width: 295px;
}
.counter-block h3{
	text-align: center;
	margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 22px;
	color: #ffffff;
}
.counter{
	text-align: center;
}
.count-div {
	width: 65px;
    display: inline-block;
    position: relative;
    margin: 0 2px;
    padding: 3px 8px 10px;
    border: 1px solid #ffba00;
    background: #ffba00;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 32px;
    line-height: 32px;
    font-weight: 800;
}
.count-div.days-count{
	background: #210639;
	border: 1px solid #ffffff;
}
.count-div.days-count .site_timer_days{
	color: #ffffff;
	font-weight: 800;
}
.count-div.days-count .count-text{
	color: #ffffff;
}
.count-text{
	margin: 10px 0 0 0;
	font-size: 12px;
	line-height: 12px;
	color: #ffffff;
    text-align: center;
    text-transform: lowercase;
    font-weight: 400;
}
.warning-text{
	margin: 20px 0 0 0;
}
.warning-text p{
	text-align: center;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	font-weight: 800;
}

/*==========================
Footer
==========================*/

.footer{
	padding: 15px 0 20px 0;
	background: #ffffff;
}
.copyright{
	color: #3b2222;
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	font-weight: 800;
}

/*==========================
Modal
==========================*/

.modal-shadow{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    display: none;
}
.thx-modal{
	display: none;
	background: #ffffff;
	width: 320px;
	height: 112px;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: fixed;
    left: 50%;
    top: 50%;
    margin: -56px 0 0 -150px;
    z-index: 100;
}
.thx-modal h2{
	font-weight: 500;
	color: #000000;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
}

/*==========================
Adaptive styles
==========================*/

@media only screen and  (max-width: 1023px) {

	.wrapper{
		width: 100%;
	}
	.channels, .with-help{
		margin: 0;
		text-align: center;
	}
	.top-title-block{
		margin: 0 auto;
	}
	.edges-text{
		margin: 0 auto;
	}
	.edges-pc, .egdes-arrow-one, .egdes-arrow-two{
		display: none;
	}
	.about-cream-right{
		margin: 0 20px;
	}
	.about-cream-block h2{
		text-align: center;
	}
	.doctor-img{
		display: none;
	}
	.doctor-block h2{
		text-align: center;
	}
	.doctor-text{
		margin: 0 auto;
	}
	.doctor-block .warranty-icons-list{
		margin: -20px auto 0 auto;
	}
	.warranty-icons-list ul{
		text-align: center;
	}
	.how-use-cream{
		margin: 70px auto 0 auto;
	}
	.how-use-cream .yellow-btn{
		margin: 40px auto 0;
	}
	.how-use-cream h3{
		text-align: center;
	}
	.why-trust-block{
		height: auto;
		background-size: cover;
		padding: 50px 0;
	}
	.price-block{
		width: 50%;
	}
	.order-form-block{
		width: 50%;
		float: left;
		margin: 0;
	}
	.counter-block{
		float: none;
		margin: 30px auto 0;
	}
	
}

@media only screen and  (max-width: 767px) {
	
	.top-block{
		background-size: cover;
		height: auto;
		padding: 20px 0;
	}
	.top-title-block{
		background: 0;
		text-align: center;
		width: auto;
		height: auto;
		padding: 0;
		margin: 0 0 20px 0;
	}
	.top-title-block h1{
		text-align: center;
		font-size: 65px;
	}
	.channels span{
		margin: 10px 0 0 25px;
	}
	.top-slogan{
		width: 100%;
		margin: 20px 0 0 0;
	}
	.top-block-right{
		float: none;
		width: 100%;
	}
	.warranty-text-list{
		width: 320px;
		margin: 35px auto 0;
	}
	.warranty-icons-list ul{
		text-align: center;
	}
	.warranty-text-list ul li{
		font-size: 16px;
		font-weight: 800;
	}
	.top-block-right .yellow-btn{
		margin: 37px auto 0;
	}
	.edges-block{
		padding: 40px 0;
		height: auto;
	}
	.about-cream-block{
		background-size: cover;
		height: auto;
		padding: 66px 0;
	}
	.about-cream-right{
		margin: 0 10px;
	}
	.doctor-block{
		background-size: cover;
		height: auto;
		padding: 45px 0;
	}
	.doctor-text{
		width: 98%;
	}
	.how-use-cream{
		width: 100%;
	}
	.how-use-cream p{
		margin: 0 10px 15px;
	}
	.reviews-block{
		background: #000000;
		height: auto;
		padding: 41px 0;
	}
	.reviews-block h2{
		margin: 0 0 45px 0;
		text-align: center;
	}
	.reviews-list-block{
		width: 100%;
		margin: 0;
		padding: 0 10px;
	}
	.review-item.img-left .review-img, .review-item.img-left .review-text-container, .review-item.img-right .review-img, .review-item.img-right .review-text-container{
		float: none;
		text-align: center;
		margin: 0 auto;
	}
	.review-item.img-left .review-img, .review-item.img-right .review-img{
		margin: 0 auto 20px;
	}
	.bottom-box-img{
		display: none;
	}
	.why-trust-text{
		margin: 0 auto;
	}
	.why-trust-block h2{
		text-align: center;
	}
	.why-trust-text p{
		padding: 0 10px;
	}
	.get-warranty-list{
		width: 320px;
	}
	.get-warranty h4{
		text-align: center;
	}
	.get-warranty-list, .sertificate-img{
		float: none;
		margin: 20px auto 0;
	}
	.price-block{
		width: 320px;
		margin: 0 auto 30px;
		float: none;
	}
	.price-block-arrow{
		display: none;
	}
	.order-form-block{
		width: 260px;
		margin: 0 auto;
		float: none;
	}
	
}