@font-face {
    font-family: 'osb';
    src: url('../font/osb/opensans-condbold.eot');
    src: url('../font/osb/opensans-condbold.eot?#iefix') format('embedded-opentype'),
         url('../font/osb/opensans-condbold.woff') format('woff'),
         url('../font/osb/opensans-condbold.ttf') format('truetype'),
         url('../font/osb/opensans-condbold.svg#opensans-condbold') format('svg');
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: 'osl';
    src: url('../font/osl/opensans-condlight.eot');
    src: url('../font/osl/opensans-condlight.eot') format('embedded-opentype'),
         url('../font/osl/opensans-condlight.woff2') format('woff2'),
         url('../font/osl/opensans-condlight.woff') format('woff'),
         url('../font/osl/opensans-condlight.ttf') format('truetype'),
         url('../font/osl/opensans-condlight.svg#OpenSansCondensedLight') format('svg');
}
@font-face {
    font-family: 'osr';
    src: url('../font/opensans-regular-webfont.eot');
    src: url('../font/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans-regular-webfont.woff') format('woff'),
         url('../font/opensans-regular-webfont.ttf') format('truetype'),
         url('../font/opensans-regular-webfont.svg') format('svg');

}
@font-face {
    font-family: 'Cooper Std';
    src: url('../font/Cooper Std.eot');
    src: url('../font/Cooper Std.eot?#iefix') format('embedded-opentype'),
         url('../font/Cooper Std.woff') format('woff'),
         url('../font/Cooper Std.ttf') format('truetype'),
         url('../font/Cooper Std.svg') format('svg');

}
@font-face {
    font-family:ub;
    src: url(../font/ubuntu.ttf);
   }
@font-face {
    font-family: 'ubb';
    src: url('../font/ubuntu-bold.eot');
    src: url('../font/ubuntu-bold.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntu-bold.woff') format('woff'),
         url('../font/ubuntu.ttf') format('truetype'),
         url('../font/ubuntu-bold.svg') format('svg');

}
@font-face {
    font-family: 'ubl';
    src: url('../font/ubuntulight-webfont.eot');
    src: url('../font/ubuntulight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntulight-webfont.woff') format('woff'),
         url('../font/ubuntulight-webfont.ttf') format('truetype'),
         url('../font/ubuntulight-webfont.svg') format('svg');

}

* {
    margin:0px;
    padding: 0px;
}

img {
    border: none;
}

.clear {
    clear: both;
    
}
.wrapper {
margin:0 auto;
width:1200px;
}
.menucent {
margin:0 auto;
background-color:#e9e9e9;
position:fixed;
width:100%;
z-index:10;

}

.menu {
height:70px;
margin:0 auto;
margin-left:8%;
}
.menu ul li:first-child {

margin-top: 6px;

margin-left: -43px;

padding-right: 33px;

}
.menu ul li {
display:inline-block;
vertical-align:middle;
margin-left: 0px;
font:16px osb;
margin: 0px 0px;
margin-left: 12px;
}

.menu ul li span {
font: 30px osb;
padding-left: 28px;
}
.menu ul li span em {
font:30px osl;
}
.menu ul li a {
text-decoration:none;
color:#000;
padding:8px;
text-transform: uppercase;
}
.menu ul li a:hover {
background-color:#d33823;
color:#fff;
border-radius:5px;
padding:8px;
}

.menu ul li:first-child :hover {
background:none;
}

.head {
background:url(../images/headbg.png) no-repeat center transparent;
background-size:cover;
min-height: 833px;
padding-top: 71px;
}

.leftblock {
width:650px;
float:left;
min-height:675px;
position:relative;
}

.leftblock img {
position:absolute;
}

.tank {
left:510px;
top:67px;
z-index:1;
width:80px;
}
.dendy8 {
top:121px;
left:3px;
}
.dandy {
left:98px;
top:123px;
z-index:2;
}
.leftblocktext {
margin-top: 441px;
}
.mario {
margin-top:399px;
}
.chip {
margin-top:105px;
margin-left:530px;
}
.Dduck {
margin-top: 589px;
margin-left:465px;
z-index:3;
}
.leftblocktext p {
font: 24px ubl;
color:#fff;
transform: rotate(-20deg);
text-align:left;
margin-left: 200px;
margin-top: -17px;
padding-left: 2px;
}

.leftblocktext p i {
font: 47px ubl;
color:#000;
margin-left:8px;
}
.leftblocktext p span {
font: 80px ubb;
color:#f4ec0e;
margin-left:18px;
}

.leftblocktext strong {
font:50px ubb;
display:inline-block;
vertical-align:text-top;
}

.zak {
height:105px;
width:349px;
position:relative;
margin-left: 139px;
margin-top: 29px;
}

.zak:hover {
cursor:pointer;
}

.rightblock {
float:right;
width: 488px;
margin-top: 55px;
margin-left: -2px;
}

.rightblock p {
font: 36px osl;
color:#fff;
margin-top: -15px;
margin-left: -10px;
}
.rightblock p b {
font: 36px osb;
}
.rightblock p span {
font: 138px Cooper Std;
color:#f4ec0e;
text-shadow: 5px 5px #525455;
}
.praup {
text-transform:uppercase!important;
}
.upp {
margin-top:-13px;
display:block;
}
.liststyle1 {
list-style:none;
}
.rbul ul li emm {
display:inline-block;
margin-top:-10px;
}

.liststyle2 {
padding-top: 0px;
list-style:none;
width:485px!important;
}

.rbul ul ol {
font:24px osb;
color:#fff;
margin-top: -22px;
text-transform:uppercase;
padding-bottom: 17px;
margin-left: -4px;
}
.rbul ul li {
font: 22px ub;
color:#000;
margin-top: 4px;
}

.rbul ul li b {
color:#fff;
}
.rbul ul li img {
margin-top: -9px;
margin-left: -6px;
padding-right: 1px;
}
.liststyle1 em {
vertical-align:top;
}
.liststyle2 em {
vertical-align:top;
}
.liststyle2 {
width: 440px;
margin-bottom: 12px;
padding-top: 0px;
list-style:none;
}
.liststyle3 {
margin-top:10px;
list-style:none;
}
.liststyle3 em {
vertical-align:top;
}
.emm {
color:#fff;
font-style:normal;
font: 25px ubb!important;
margin-top: -1px;
display: inline-block;
}
.emmm {
color:#fff;
font-style:normal;
font: 25px ubb!important;
margin-top: -11px;
display: inline-block;
}
.emmmm {
margin-top: -11px;
display: inline-block;
}
.rbul ul li em {
font-style:normal;
font: 25px ub;
}
.liststyle2 span {
margin-top: -32px;
display:block;
margin-left: 53px;
font: 20px ub;
}
.liststyle1 span {
display:block;
margin-top: -29px;
margin-left: 52px;
}

.rbul p {
font: 80px osb;
color:#f4ec0e;
margin-top: 20px;
margin-left: 0px;
margin-bottom: -2px;
text-shadow: 2px 2px #525455;
}
.rbul {
width: 536px;
}
.rbul p b {
font:20px ubb;
color:#fff;
display:inline-block;
}
.rbul b {
font: 25px ubb;
color:#fff;
display:inline-block;
float: right;
margin-top: -77px;
line-height: 17px;
margin-right: 48px;
clear: right;
}
.spa {
font:20px ubb;
color:#fff;
}

.rbul b i {
color:#000;
font-style:normal;
font-size:initial;
font: 20px ub;
margin-left: 2px;
line-height: 20px;
}

.rbul strong {
font:24px osb;
color:#fff;
margin-left: 77px;
text-transform: uppercase;
}
.timerone {
position:relative;
margin-top: -34px;
margin-left: -13px;
}
.timerone p {
/* margin-top:20px; */
/* padding-left:15px; */
}
.timerone i:last-child {
position:absolute;
top: 63px;
}
.two p {
/* position:absolute; */
/* top:0px; */
/* height:0!important; */
/* padding-top:27px; */
}

.headtwo {
background-image:url(../images/headmidlebg_02.png);
min-height: 793px;
margin-top: -49px;
}

.headmidle h1 {
margin-top:52px;
padding-top: 50px;
font: 77px osb;
text-transform:uppercase;
color:#ee9c13;
}
.headmidle h1 span {
font: 75px osl;
color:#000;
}

.headmidleleftblock {
width:630px;
height:287px;
float:left;
}

#carousel {
width:550px;
height:300px;
position:relative;
clear:both;
overflow:hidden;
margin-left: 58px;
margin-top: 49px;
}
#carousel img {
cursor:pointer; /* otherwise it's not as obvious items can be clicked */
}
#prev{
background-image:url(../images/scrl_03.png);
background-repeat:no-repeat;
width:25px;
height:25px;
position:absolute;
top: 1262px;
}
#next {
background-image:url(../images/scrr.png);
background-repeat:no-repeat;
width:25px;
height:25px;
position:absolute;
left:52%;
top: 1262px;
}
#prev:hover{
background-image:url(../images/scrlred.png);
background-repeat:no-repeat;
}
#next:hover{
background-image:url(../images/scrrred_03.png);
background-repeat:no-repeat;
}

.headmidlerightblock {
float:right;
width:450px;
margin-top:40px;
}

.headmidlerightblock p {
font: 16px ub;
margin-top: 26px;
margin-left: -30px;
margin-bottom: -1px;
}

.headmidlerightblock strong {
font: 38px osb;
color:#5d240d;
text-transform:uppercase;
display:inline-block;
margin-top: 42px;
background-image:url(../images/zayavka_03.png);
background-repeat:no-repeat;
background-position:center;
padding: 18px 30px;
border:1px solid #dddddd;
border-radius:10px;
background-size:cover;
  
margin-left: -30px;
padding-bottom: -2px;
}
.headmidlerightblock span {
font: 12px ubb;
display:block;
margin-top: -29px;
margin-left: 8px;
text-transform: capitalize;
}
.ilove {
position:relative;
margin-top: 17px;
margin-left: 12px;
}

.headthrebg {
background-image:url(../images/headthrebg.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position:center;
min-height: 1121px;

}
.headthre {
margin:0 auto;
position:relative;
}

.headthre h2 {
font: 100px osl;
color:#fff;
padding-top: 72px;
text-transform: uppercase;
padding-left: 3px;
letter-spacing: 1px;
}
.headthre h2 span {
font:30px osl;
color:#000;
float:right;
clear:right;
margin-top: 41px;
padding-right: 95px;
text-transform:uppercase;
letter-spacing:0px;
}
.dandyy {
position:absolute;
}
.card {
position:absolute;
left:261px;
top: 342px;
}
.garant {
position:absolute;
left: 134px;
top: 429px;
}

.paraone {
font: 77px osl;
color:#fff;
width:400px;
margin-left: 329px;
margin-top: -23px;
}
.paraone em {
font:33px osl;
}
.paraone span {
font: 26px osl;
color:#000;
display:block;
margin-top: -19px;
}

.paratwo {
font: 30px osl;
color:#000;
width:350px;
margin-left:420px;
margin-top: 21px;
text-transform: uppercase;
margin-bottom: -16px;
}

.paratwo span {
font: 77px osl;
color:#fff;
display:block;
margin-top: -25px;
text-transform:uppercase;
margin-left: 3px;
}
.paratwo i {
display:block;
margin-top: -72px;
font-style:normal;
}

.parathre {
font: 30px osl;
width:200px;
margin-left: 264px;
margin-top: 59px;
text-transform: uppercase;
}

.parathre span {
display:block;
margin-top: -12px;
}

.parafour {
font: 30px osl;
position:absolute;
right: 295px;
top: 263px;
text-transform: uppercase;
}
.parafive {
font: 30px osl;
position:absolute;
right: 248px;
top: 500px;
text-transform: uppercase;
vertical-align: top;
}

.parafive span {
    margin-left: -87px;
    display: inline-block;
    margin-top: -24px;
}
.parasix {
position: absolute;
right: -9px;
top: 165px;
font: 30px osl;
text-transform: uppercase;
text-align: center;
text-indent: -72px;
line-height:31px;
}

.dandyjunior {
    margin-right: 1px;
}

.headthre h4 {
text-align:center;
margin-top: 35px;
font: 48px osl;
color:#fff;
text-transform:uppercase;
margin-left:-6px;
}
.headthre h4 b {
font: 48px osb;
}

.headthre bb {
margin-left: 39%;
font:14px ub;
margin-top: -5px;
display: block;
}

.headthre h3 {
margin-top: 28px;
font: 80px osl;
color:#fff;
text-transform:uppercase;
margin-left:-8px;
}
.headthre h3 b {
font: 80px osb;
}

.headthre strong {
float:right;
clear:right;
margin-top: -101px;
font: 34px osb;
color:#5d240d;
text-transform:uppercase;
display:inline-block;
background-image:url(../images/zayavka_03.png);
background-repeat:no-repeat;
background-position:center;
padding: 25px 42px;
border:1px solid #dddddd;
border-radius:10px;
background-size:cover;
margin-right: 9px;
}
.headthre strong:hover {
cursor:pointer;
}

.contenttop {
background-image:url(../images/headmidlebg_02.png);
min-height: 846px;
}

.contentfirstwind h2 {
font:100px osl;
text-align:center;
text-transform: uppercase;
padding-top: 34px;
}

.contentfirstwind h2 b {
font:100px osb;
color:#ee9c13;
}

.firstwindleftblock {
float:left;
clear:left;
width:580px;
text-align: left;
}

.firstwindleftblock h5:first-child {
margin-top: 23px;
}
.firstwindleftblock h5 {
font: 20px ubb;
margin-top: 14px;
margin-bottom: -14px;
}

.firstwindleftblock h5 i {
font:30px ubb;
/* text-transform:uppercase; */
color:#ee9c13;
}

.firstwindleftblock p {
margin-top: 15px;
font:14px ub;
}
.firstwindleftblock p it {
color:#7e9e1b;
}

.firstwindrightblock {
float:right;
clear:right;
width: 614px;
margin-top:20px;
position:relative;
}
.firstwindrightblock h5 {
font: 32px ub;
}
.firstwindrightblock h5 i {
font:48px ub;
color:#98b934;
}
.firstwindrightblock h5 b {
color:#34a6cb;
}
.firstwindrightblock em {
padding-left:130px;
font-style:normal;
}

.firstwindrightblock img {
position:absolute;
}

.firstwindrightph1 {
top: 281px;
left: -18px;
}
.firstwindrightph2 {
top: 356px;
right: -7px;
}

.contentmidle {
background-image:url(../images/contentmidlebg.jpg);
background-repeat:no-repeat;
min-height: 898px;
background-size:cover;
background-position:center;
position:relative;

}
.contentmidletwowind {
margin:0 auto;
}
.contentmidletwowind h2 {
font: 77px osl;
color:#fff;
text-transform:uppercase;
text-align:center;
padding-top:75px;
z-index: 5;
}
.contentmidletwowind h2 strong {
font: 77px osb;
}
.bloks {
display:inline-block;
margin-bottom: -30px;
}
.blockone {
text-align:center;
width:200px;
margin-top: -177px;
display:inline-block;
vertical-align:text-top;
margin-left: 23px;
margin-right: 10px;
}

.blockone {
font:16px ubb;
}

.twowindblockleft {
float:left;
width: 528px;
min-height:325px;
margin-top:35px;
background-image:url(../images/blockbg_03.png);
background-repeat:no-repeat;
text-align:left;
}

.twowindblockleft b{
font:20px ubb;
color:#fff;
padding-left: 34px;
display:block;
padding-top: 26px;
}
.twowindblockleft p {
font: 14px ub;
padding-left: 34px;
}

.twowindblockright {
float:right;
width:530px;
min-height:325px;
margin-top:35px;
background-image:url(../images/blockbg_03.png);
background-repeat:no-repeat;
text-align:left;
clear:right;
}

.twowindblockright b{
font:20px ubb;
color:#fff;
padding-left: 34px;
display:block;
padding-top: 26px;
}

.twowindblockright p {
font:16px ub;
padding-left:20px;
}

.contentbotom {
background-image:url(../images/headmidlebg_02.png);
min-height: 722px;
}

.contentbotomfirstwind h2 {
text-align:center;
font: 77px osl;
text-transform:uppercase;
padding-top: 67px;
margin-bottom: -26px;
}
.contentbotomfirstwind h2 b {
font: 77px osb;
color:#ee9c13;
}

.contentbotomfirstwindblock {
width: 574px;
text-align:left;
margin-top: 64px;
display:inline-block;
margin-left: 21px;
margin-bottom: -131px!important;
vertical-align: baseline;
margin-bottom: -70px!important;
}

.contentbotomfirstwindblock img {
float:left;
padding: 0px 32px 48px 29px;
  
max-width: 193px;
  
max-height: 179px;
}

.contentbotomfirstwindblock b {
font: 24px ubb;
text-transform:capitalize;
margin-top: 0px;
}

.contentbotomfirstwindblock p {
font: 15px ub;
margin-top: -15px;
}

.contentbotomtwo {
background-image:url(../images/contentbotombg_02.jpg);
background-repeat:no-repeat;
min-height: 896px;
background-size:cover;
background-position:center;
position:relative;
}

.contentbotomtwowindleft {
margin-top:50px;
width:750px;
float:left;
clear:left;
position:relative;
}
.contentbotomtwowindleft img {
position:absolute;
margin:0 auto;
z-index: 2;
}
.robocop2 {
left:210px;
z-index:1;
}
.dandyj2 {
top:120px;
z-index:2;
}

.card2 {
top: 234px;
left: 462px;
}
.dduck2 {
top: 497px;
left: 47px;
}

.cbtwl {
margin-top: 520px;
margin-left: 77px;
}
.cbtwl p {
font: 43px ub;
color:#fff;
transform: rotate(-19deg);
text-align:left;
margin-left: 210px;
margin-top: -5px;

}
.cbtwl p:last-child {
margin-left: 260px;

padding-top: 4px;
}

.cbtwl p i {
font: 44px ub;
color:#000;
}
.cbtwl p span {
font: 70px ubb;
color:#fff;
}

.cbtwl strong {
font:50px ;
*display:inline-block;
vertical-align:text-top;
}

.contentbotomtwowindright {
float:right;
clear:right;
margin-top:50px;
text-align:left;
width:450px;
position:relative;
}
.contentbotomtwowindright h4 {
font:36px ubb;
text-transform:uppercase;
color:#fff;
margin-bottom: -16px;
padding-top: 15px;
text-shadow: 2px 2px #525455;
}
.contentbotomtwowindright h5 {
font:120px Cooper Std;
color:#fff;
margin-bottom: -54px;
text-shadow: 5px 5px #525455;
}

.dandy2 {
position:absolute;
right: 464px;
top: 55px;
}

.blockform {
height: 494px;
width: 430px;
background: rgba(239,106,11,0.7);
border-radius:15px;
margin-top: 17px;

margin-left: -10px;
}

.blockform b {
font:28px ubb;
color:#292929;

}
.blockform p {
font: 28px ub;
color:#fff;
padding-left: 31px;
padding-top: 20px;
text-transform:uppercase;

}
.blockform i {
color:#292929;
font-style:normal;
}

.hour,.min,.sec,.day {
	float:left;
	width: 101px;
	height: 101px;
	background-image:url(../images/clock.png);
	margin-right: 9px;
}
.min {

}
.hourr,.minn,.seccc,.dayy {
	float:left;
	width: 98px;
	height: 101px;
	background-image:url(../images/clock.png);
    font: 60px ubb;
	margin-top: -38px;
}

.day:last-child{
margin-top:-5px;
}
.day p {
font: 60px ubb;
color: #fff;
margin-top: 12px;
padding-left: 18px;
}
.min p {
font: 60px ubb;
color: #fff;
padding-top: 11px;
margin-top: 0px;
padding-left: 17px;
vertical-align: middle;
}
.sec p {
font: 60px ubb;
color: #fff;
margin-top: 10px!important;
padding-left: 17px;
}

p.sec1 {}
.hour p {
font: 60px ubb;
color: #fff;
margin-top: 11px;
padding-left: 16px;
}
.sec1,.min1,.hour1,.day1 {
	margin-left: 33px!important;
    
	position:absolute;
    
	top: 0px;
}

.timer_wrap {
}		
.clock {
	height:65px;
	padding: 0px 0px 0px 0px;
	position:absolute;
	left: 23px;
	margin-top: 38px;
	font: 60px ubb!important;
}
.razd {
	float:left;
	color:#ffffff;
	font-weight:bold;
	font-size:3em;
	margin:0px 3px 0px 3px;
    display:none;
    clear:left;
}
.stop {
	color:red;
	font-size:5em;
	margin:15px 10px 10px 25px;
	position:absolute;
}
.clock i {
font: 14px ub;
padding-left: 30px;
margin-top: 35px;
display:block;
text-transform: lowercase;
}
.formone {
margin-top: 170px;
}

.name {
height: 55px;
width: 375px;
border:3px solid #ffe200;
border-radius:15px;
margin-left: 24px;
text-indent:10px;
font-size: 28px;
}
.name:focus {
outline:none;
}

.phone {
height: 55px;
width: 373px;
border:3px solid #ffe200;
border-radius:15px;
margin-left: 26px;
margin-top: 7px;
text-indent:10px;
font-size: 28px;
}
.phone:focus {
outline:none;
}

.sumb {
font: 36px osb;
color:#5d240d;
text-transform:uppercase;
background-image:url(../images/zayavkanew_03.png);
background-repeat:no-repeat;
/* background-position:center; */
padding: 22px 50px;
border-radius:10px;
background-size:cover;
margin-left: 27px;
margin-top: 1px;
border: none;
cursor: pointer;
}

.chip2 {
position:absolute;
bottom: -133px;
left: -63px;
}

#footer {
background-image:url(../images/fobg.jpg);
background-position:center;
background-size:cover;
min-height:55px;
}
.foterblocksleft {
float:left;
clear:left;
width: 612px;
height: 469px;
border:5px solid #fff;
margin-top: 83px;
}

.foterblocksright {
float:right;
clear:right;
width:490px;
min-height: 500px;
margin-top: 64px;
margin-right: -7px;
}

.foterblocksright h2 {
font: 59px osl;
color:#fff;
text-transform:uppercase;
}

.foterblocksright h2 b {
font: 60px osb;
color:#ee9c13;
display:block;
margin-top: -32px;
}
.foterblocksright i {
color:#fff;
font: 36px osl;
text-transform:uppercase;
display:block;
margin-top: 5px;
}

.foterblocksright p {
font: 16px ub;
color:#fff;
padding-top:10px;
}

.greencal {
float:left;
padding-top:30px;
padding-right:10px;
}

.fbb {
    margin-top: 25px;
}
.fbb i {
font: 38px osl;
color:#a3ce30;
}
.fbb span {
font: 74px osb;
}

.foterblocksright a {
text-decoration:none;
font: 37px osb;
color:#5d240d;
text-transform:uppercase;
background-image:url(../images/zayavkanew_03.png);
background-repeat:no-repeat;
background-position:center;
padding: 26px 71px;
border-radius:10px;
background-size:cover;
display:inline-block;
margin-top: 41px;
margin-left: 4px;
}

.zayavka a {
text-decoration:none;
color:#5d240d;
}

.zakaz a {
text-decoration:none;
color:#5d240d;
}

.headmidle a {
text-decoration:none;
}

.nn {
position:relative;
padding-bottom: 20px;
}
label.error {
position:absolute;
bottom: 1px;
left: 45px;
font:14px ubb;
color:#000;
}

.plus {
margin-top: -12px;
display: block;
font: 43px ub!important;
margin-left: -12px;
float:left!important;
position:absolute;
top:600px;
}

.timertwo {
position:relative;
margin-bottom: -44px;
}

.timertwo p {
position:absolute;
top: -42px;
display:inline-block;
padding-left: 22px;
font: 47px osb;
color: #fff000;
}
.timertwo p:last-child {
top:50px;
}
.timertwo i {
position:absolute;
top: 22px;
margin-left: 2px;
}
.parafour img {
padding-left: 0px;
position: absolute;
right: -21px;
}

.powerc {
padding-right: -5px;
}

.clas {
margin-top: 61px!important;
margin-bottom: -4px!important;
}

.contentbotomfirstwindblock b {
margin-top: -79px!important;

display: inline-block;
}

/*.otz2 {
margin-top: -14px;
margin-left: 36px;
}
.otz3 {
margin-left: 27px;
padding-right: 32px!important;
margin-top: -5px;
}*/
.contentbotomtwowindright h4 span {
font: 40px ubb;

}

.map {
margin-left:25px;
}
.ie10 .headmidle h1 { 
font-size:50px;
}
.ie10 .headmidle h1 span {
font-size:50px;
}
.ie10 #carousel {
margin-top:80px;
}
.ie10 .zayavka {

}
.ie10 .paratwo i {
margin-top:-55px;
}
.ie10 .parasix h4 {
margin-top:65px;
}
.ie10 .parafive {
right:190px!important;
}
.ie10 .parafive span {
margin-top:45px!important;
margin-left:0px!important;
}

.ie10 .parafive  {
top:440px;
}

.ie10 .headthre h3 b {
font-size:60px!important;
}
.ie10 .headthre h3 {
font-size:60px!important;
}


.ie10 .foterblocksright a {

font-size:34px;

}
.ie10 #footer {
min-height:675px;
}
.ie10 .liststyle2 {
width: 470px;
}

.ie10 


.liststyle2 bold {

}