{% extends 'base.html' %}

{% block content %}
    {% for object in object_list %}
        <div class="col-sm-4 portfolio-item" xmlns="http://www.w3.org/1999/html">
{#            <a href="#portfolioModal{{ object.pk }}" class="portfolio-link" data-toggle="modal">#}
            <a href="{% url 'site_index' object.pk %}" class="portfolio-link" data-toggle="modal">
{#                <a href="{{ STATIC_URL }}sites/{{ object.name }}/{{ object.path_dir }}/index.html" class="portfolio-link">#}
{#                <a class="portfolio-link" name="PK" value="{{ object.pk }}" href="{% url 'template_view' object.pk %}">#}
                <div class="caption">
                    <div class="caption-content">
                        <i class="fa fa-search-plus fa-3x"></i>
                    </div>
                </div>
                <img src="{{ object.path_img }}" class="img-responsive" alt="">
            </a>
        </div>
    {% endfor %}
{% endblock %}