body{

}



@media only screen
and (max-device-width: 1100px){
	.all_wrap{
		width: 100%;
		overflow: hidden;
	}
	.page{
		width: 100%;
		overflow: hidden;
	}
	.wrapper{
		min-width: 100%;
	}
	.action .content{
		width: 100%;
		padding: 0;
		height: auto;

	}
	.action-gift{
		display: none;
	}
	.kors-main{
		width: 100%;
		background-position: left 0;
		display: none;
	}
	.action .action-form{
		box-sizing: padding-box;
		position: static;
		left: 0;
		width: auto;
		/*margin-top: 400px;*/
	}
	.header_title{
		display: none;
	}
	.timer{
		width: 100%;
		-webkit-background-size: contain;
		background-size: contain;
	}
	.counter{
		padding-left: 0;
	}
	.mob_th{
		display: none;
	}
	#short-list .content{
		padding: 0;
	}
	.short-list-body{
		width: 100%;
	}
	.content{
		width: auto;
		box-sizing: padding-box;
	}
	.short-list-body li{
		width: 100%;
	}
	h2.h2-spec{
		font-size: 17px;
	}
	.header-phone{
		display: none;
	}
	.video-block-main{
		display: none;
	}
	.video-block-desc{
		padding-left: 0;
	}
	.gift-list{
		width: 100%;
	}
	.gift_img1{
		height: auto;
		width: 100%;
	}
	.gift_img2{
		width: 100%;
	}
	.gift_img3{
		width: 100%;
	}
	.gift-list li .h3-top{
		font-size: 20px;
		top: -20px;
	}
	.gift-list li .h3-bottom{
		font-size: 17px;
		bottom: -50px;
	}
	.gift-list li i.plus{
		display: none;
	}
	.feed-list li{
		width: 100%;
	}
	.feed-list li .feed-list-body{
		padding: 0;
	}
	.feed-list li .feed-pic{
		width: 100px;
		float: left;
		padding-right: 10px;
	}
	.feed-list li .feed-pic img{
		width: 100%;
	}
	.feed-list li .feed-content{
		padding: 0;
		width: 100%;
	}
	.feed-list li{
		height: auto;
	}
	.price-label{
		display: none;
	}
	.header-body .certificate{
		display: none;
	}
	.action .action-form h3{
		line-height: 70px;
		padding-bottom: 10px;
	}
	#dostavka img{
		width: 100%;
	}
	.feedback-send{
		width: auto;
	}
}

@media only screen
and (min-device-width: 639px)
and (max-device-width: 800px){
	.short-list-body li{
		width: 50%;
		margin-right: 0;
	}
	.short-list-body li.last{
		width: 100%;
	}
	#dostavka img{
		width: 100%;
	}
	.action-title{
		padding-left: 0;
		width: 100%;
		text-align: center;
	}
	.feed-list li .feed-pic{
		float: left;
		margin-right: 10px;
	}
	.price-label{
		display: block;
		left: 60%;
		top: -40px;
		/*margin-left: -150px;*/
	}
	.action{
		/*padding-top: 160px;*/
	}

	.price-label-new{
		font-size: 24px;
	}


}

@media only screen
and (max-device-width: 480px)
{
	.action .action-form h3{
		line-height: 25px;
		/*font-size: 12px;*/
	}
	.action-title{
		display: none;
	}


	.price-label{
		display: block;
		left: 50%;
		top: -150px;
		margin-left: -75px;
	}
	.action{
		padding-top: 160px;
	}

	.price-label-new{
		font-size: 24px;
	}
}

@media only screen
and (min-device-width: 480px)
and (max-device-width: 767px){
	.action .action-form{
		width: 350px;
		margin-left: 14%;
		/*float: right;*/
	}
	.action-title{
		width: auto;
		padding-left: 10px;
	}
	.action .action-form h3{
		line-height: 25px;
	}
}

@media only screen
and (min-device-width: 767px)
and (max-device-width: 1100px){
	.short-list-body li{
		width: 32%;
		margin-right: 2%;
	}
	.short-list-body li.last{
		width: 32%;
		margin-right: 0;
	}
	.mob_th{
		display: inline;
	}
	h2.h2-spec{
		font-size: 26px;
	}
	.header-body .certificate{
		display: block;
		right: 0;
		text-align: right;
		margin-top: -10px;
		padding-right: 10px;
	}
	.action .action-form{
		width: 350px;
		margin-left: 50%;
		/*float: right;*/
	}
	.action .action-form h3{
		line-height: 25px;

	}
	#header .action{
		height: 588px;
	}
	.kors-main{
		display: block;
		width: 40%;
		-webkit-background-size: contain;
		background-size: contain;
		top:2%;
	}
	.video-block-main{
		display: block;
		width: 50%;
		padding-left: 0;
	}
	.video-block-main img{
		width: 100%;
	}
	.video-block-desc{
		padding-left: 51%;
	}
	.feed-list li{
		width: 48%;
		height: 230px;
		margin-right: 2%;
	}
	.feed-list li:nth-child{
		margin-right: 0;
	}
	#action-block .kors-main{
		top: 15%;
	}
	.action-title{
		padding-left: 0;
		text-align: center;
		width: 100%;
	}

	.price-label{
		display: block;
		left: 40%;
		top: 0px;
		margin-left: -75px;
	}
}
