@import url("http://fonts.googleapis.com/css?family=Bad+Script&subset=cyrillic");
/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html, body {
    height: 100%;
}
body
	{
		color: #D0D0D1;
		font-family: Verdana,Arial,Helvetica,sans-serif;
		line-height: 1;
		font-size: 16px;
		background: url("../../img/kors/fon.jpg") repeat scroll 0 0 #fff;
	}
ul {
	list-style: none;
}
strong
	{
		font-weight: bold;
	}
/* HTML5 display-role reset for older browsers *
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a
	{
		color: #ffffff;
	}
b
	{
		font-weight: bold;
	}
label
	{
		color: #666666;
		display: block;
		font-size: 14px;
		padding: 0 0 10px 0
	}
input
	{
		border: 1px solid #CCCCCC;
		height: 23px;
	}
p {
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 18px;
	line-height: 21px;
}
/*INPUT BLOCK*/
textarea {
  overflow: auto;
  vertical-align: top;
}

label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

input,
button,
select,
textarea {
}

label {
  display: block;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 18px;
  padding: 4px;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
}

input,
textarea {
  width: 210px;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E9E5E3;
    border-radius: 0;
    color: #61575F;
    display: inline-block;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    height: 35px;
    margin: 0;
    padding: 0 4%;
	width: 92%;
    position: relative;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
  *margin-top: 0;
  /* IE7 */
  line-height: normal;
  cursor: pointer;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
.input-block {
	margin-bottom: 5px;
	position: relative;
	padding-bottom: 15px;
}
/*.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFB361), color-stop(1, #FFC706) );
	background:-moz-linear-gradient( center top, #FFB361 5%, #FFC706 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB361', endColorstr='#FFC706');
	background-color:#FFC706;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #C26603;
	display:inline-block;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:42px;
	padding: 0 25px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffc98e;
	text-transform: uppercase;
	margin-bottom: 7px;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FF8502), color-stop(1, #FFB361) );
	background:-moz-linear-gradient( center top, #FF8502 5%, #FFB361 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8502', endColorstr='#FFB361');
	background-color:#FF8502;
}
.btn:active {
	position:relative;
	top:1px;
}*/
.btn {
	background-color: #F03E24;
    border: medium none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 25px;
    height: 56px;
    line-height: 36px;
    margin-bottom: 15px;
    outline: medium none;
    display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
}
a.btn {
	height: 35px;
	font-size: 18px;
	padding: 0 15px;
}
.call-btn {
	display: inline-block;
	text-align: center;
	height: 37px;
	background: url("http://brand-watch24.ru/media/img/curren/call-btn.png") repeat-x 0 0 transparent;
	cursor: pointer;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 0 10px 0 35px;
	font-size: 19px;
	font-weight: bold;
	letter-spacing: 0.05em;
	line-height: 33px;
	position: relative;
}
.call-btn:hover {
	background: url("http://brand-watch24.ru/media/img/curren/call-btn.png") repeat-x 0 -39px transparent;
}
i.call-icon {
	display: block;
	width: 20px;
	height: 30px;
	background: url("http://brand-watch24.ru/media/img/curren/call-icon.png") no-repeat 0 0 transparent;
	position: absolute;
	top: 5px;
	left: 10px;
}

/*END INPUT BLOCK*/
.left {
	float: left;
}
.wrapper{
	font-family: "Exo 2",sans-serif;
	width: 100%;
	min-width: 1140px;
	max-width: 1600px;
	margin: 0 auto;
	/*background: url("http://brand-watch24.ru/media/img/geneva/bg.jpg") no-repeat scroll center -350px #ffffff;*/
	position: relative;
	/*background: #fff;*/
	background: #ffffff;
	background-size: 100%;
}
.content {
	margin: 0 auto;
	position: relative;
	width: 1100px;
	padding: 0 20px;
}
/*.content h2 {
	font-size: 35px;
	color: #FFC706;
	font-weight: bold;
	margin-bottom: 25px;
	text-align: center;
}
.content h3 {
	font-size: 30px;
	line-height: 35px;
	color: #FFC706;
	font-weight: bold;
	margin-bottom: 25px;
}
.content ul {
	margin-bottom: 10px;
}*/
.ul li {
	color: #D0D0D1;
	padding-top: 7px;
	padding-left: 35px;
	background: url("../../img/kors/arrow.png") no-repeat 0 0 transparent;
	min-height: 35px;
	line-height: 16px;
	line-height: 32px;
}
.content p {
	color: #ffffff;
	font-size: 17px;
	line-height: 30px;
	margin-bottom: 10px;
}
.content-list li {
	color: #ffffff;
	font-size: 17px;
	line-height: 35px;
	margin-bottom: 5px;
	padding-left: 20px;
}
.content strong {
	font-weight: bold;
	color: #000000;
}
.h2 {
	color: #ffffff;
	font-size: 25px;
	text-transform: uppercase;
	margin-bottom: 20px;
	line-height: 35px;
}
.h2 strong {
	color: #f5d200;
	font-size: 30px;	
}
/*HEADER*/
#header {
	position: relative;
}


.header-body .certificate {
	position: absolute;
	top: 20px;
	left: 330px;
	color: #000;
	font-size: 14px;
	text-align:center;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	
}
.header-body .certificate p {
	font-size: 12px;
	line-height: 20px;
	padding-top: 12px;
}
.header-body .logo {
	position: absolute;
	display: block;
	top: 20px;
	left: -8px;
}
.header-body h1 {
	color: #000000;
    font-size: 28px;
    line-height: 30px;
	text-transform: uppercase;
	padding-top: 20px;
}
.header-body .h1-desc {
	font-size: 16px;
	font-weight: normal;
	color: #000;
	font-style: normal;
	line-height: 22px;
	
	
}
.predator-main {
	width: 650px;
	height: 528px;
	background: url("../../img/kors/watch-main.png") no-repeat scroll 120px 100px transparent;
	position: relative;
}
.kors-main {
	background: url("../../img/kors/watch-main.png") no-repeat scroll 0 0 transparent;
	width: 470px;
	height: 600px;
	position: absolute;
	left: 0px;
	bottom: 30px;
}
.predator-main p {
	width: 150px;
	color: #ffffff;
	font-size: 13px;
	position: absolute;
	line-height: 16px;
}
.original {
	/*font-family: Segoe UI, tahoma, arial, verdana, sans-serif, Lucida Sans;*/
	color: #D0D0D1;
	padding-top: 7px;
	text-align: center;
}
.original h2 {
	display: inline-block;
	padding: 5px 20px;
	font-size: 30px;
	line-height: 35px;
	font-weight: normal;
	margin-bottom: 4px;
	text-align: center;
	color: #ffffff;
	/*background: url("http://brand-watch24.ru/media/img/underwater/title-bg.png") repeat scroll 0 0 transparent*/
}
.original h2 small {
	font-size: 14px;
}
.original h2 strong {
	color: #2bd3d3;
	font-size: 40px;
	line-height: 50px;
	text-shadow: 1px 1px 1px #000000;
}
.original p {
	font-size: 18px;
	text-align: center;
}
.header-phone {
	text-align: right;
	position: absolute;
	right: 25px;
	top: 12px;
	width: 250px;
}
.header-phone  strong {
	font-size: 28px;
	font-weight: normal;
	color: #000;
}
.header-phone p {
	margin-bottom: 0px;
}
.header-phone .call-btn {
	margin-bottom: 5px;
}
.action .action-form {
	width: 350px;
	background: #fff;
	background: url("../../img/kors/title-bg.png") repeat 0 0 transparent;
	padding: 20px 20px 30px;
	position: absolute;
	top: 70px;
	left: 450px;
	border: 1px solid #000;
}
.action .action-form h3 {
    color: #fff;
    font-size: 15.5px;
    line-height: 25px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}
.gift-block {
	width: 600px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 40px;
}
.gift-block img {
	float: left;
}
.gift-block ul {
	padding-left: 250px;
	padding-top: 30px;
}
.standart-list {
	margin-bottom: 15px;
}
.standart-list li {
	color: #ffffff;
	width: auto;
	float: none;
	font-size: 18px;
	padding: 3px 0;
	padding-left: 25px;
	background: url("http://brand-watch24.ru/media/img/kors/econom-arrow.png") no-repeat 0 5px transparent;
	
	line-height: 20px;
	margin-bottom: 10px;
}
.standart-list li {
	background: url("../../img/kors/standart-arrow.png") no-repeat 0 5px transparent;
}
.standart-list li span {
	text-decoration: line-through;
}
/*END HEADER*/

/*SHORT LIST*/
.short-list-body {
	width: 1000px;
	margin: 0 auto;
}
.short-list-body h3 {
	font-size: 20px;
	color: #000000;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.short-list-body ul {
	overflow: hidden;
}
.short-list-body li {
	float: left;
	width: 32%;
	margin-right: 2%;
	color: #000000;
}
.short-list-body li.last {
	margin-right: 0;
}

.short-list-body li .li-body {
	padding: 25px 15px;
	border: 1px solid #ffc706;
	background: #ffc706;
	height: 450px;
	
}
.short-list-body li .li-body img {
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	border: 1px solid #fdd900;
}

/*END SHORT LIST*/


/*GIFT BLOCK*/
.gift-list {
	overflow: hidden;
	width: 800px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding-bottom: 40px;
	padding-top: 20px;
}
.gift-list li {
	float: left;
	width: 50%;
	text-align: center;
	position: relative;
}
.gift-list li .h3-top {
	position:absolute;
	top: 10px;
	color: #d77b03;
	text-transform: uppercase;
	text-align:center;
	font-size: 40px;
	width: 100%;
	left: 0;
	letter-spacing: 0.1em;
	font-weight: bold;
}
.gift-list li .h3-bottom {
	position:absolute;
	bottom: -79px;
	color: #d77b03;
	text-align:center;
	font-size: 25px;
	width: 100%;
	left: 0;
	letter-spacing: 0.1em;
	font-weight: bold;
}
.gift-list li i.plus {
	font-size: 150px;
	color: #000000;
	position: absolute;
	left: -50px;
	top: 100px;
}
/*END GIFT BLOCK*/


/*ACTON*/
.action {
	width: 100%;
	/*margin-top: -50px;*/
	background: url("../../img/kors/main-bg.jpg") no-repeat 50% 100% transparent;
	padding-top: 50px;
}
.margin-bottom {
	margin-bottom: 40px;
}
.action1 {
	padding-top: 50px;
	/*height: 800px;*/
	height: auto;
}
.action .content {
	height: 600px;
}
.action-body {
	/*padding-top: 80px;*/
	/*background: url("http://brand-watch24.ru/media/img/powerbalance/pb-main.png") no-repeat 0px 100px transparent;*/

}
.action-body .h1 {
	/*text-align: center;*/
	font-size: 40px;
	color: #000;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 8px;
	font-weight: bold;
}
.action-body .h1-small {
	font-size: 25px;
	margin-bottom: 10px;
	color: #000;
	text-transform: uppercase;
}
.action-pic {
	height: 295px;
	width: 345px;
	background: url("http://brand-watch24.ru/media/img/kors/action-text.png") no-repeat 0 0 transparent;
	position: absolute;
	top: 25px;
	right: 10px;
}
.action-btn {
	position: absolute;
	left: 310px;
	bottom: 0px;
	background: url("../../img/kors/strelka.png") no-repeat 80px 10px transparent;
}
.action-btn .btn {
	margin-left: 220px;
}
.action-btn p {
	color: #333333;
	font-size: 20px;
	margin-bottom: 0;
	text-align: right;
}
.action-btn-static {
	position: static;
	width: 550px;
	padding-right: 50px;
	margin: 85px auto 0;
}

.price-label {
	height: 150px;
	width: 150px;
	position: absolute;
	background: url("../../img/kors/price-label.png") no-repeat 0 0 transparent;
	left: 330px;
	top: 50px;
	text-align: center;
	z-index: 999;
}
.action-gift {
	position: absolute;
	right: 10px;
	top: 130px;
}
.action-gift h3 {
	font-size: 25px;
	text-align: center;
	color: #ffffff;
}
.price-label-body {
	padding-top: 45px;
}
.price-label span {
	display: inline-block;
	color: #ffffff;
	text-shadow: 1px 1px 0 #000000;
}	
.price-label-old {
	font-size: 20px;
	text-decoration: line-through;
	margin-bottom: 10px;
	
}
.price-label-new {
	font-size: 30px;
}
.price-label-new small {
	font-size: 25px;
}
/*END ACTION*/

/*VIDEO BLOCK*/
#video-block {
	margin-top: -80px;
	padding-top: 50px;
	background: #ffffff;
}
.video-block {
	overflow: hidden;
	
}
.video-block ul {
	margin-bottom: 25px;
}
.video-block li {
	color: #000000;
	margin-bottom: 7px;
}
.video-block-main {
	width: 316px;
	height: 400px;
	position: relative;
	float: left;
	padding-left: 75px;
}
.video-block-desc {
	padding-left: 520px;
}
.imac {
	width: 450px;
	height: 450px;
	background: url("../../img/kors/imac.png") no-repeat 0 0 transparent;
	position: absolute;
	top: 0;
	left: 0;
	padding: 16px 17px;
	/*float: left;*/
}
/*END VIDEO BLOCK*/

/*SHORT LIST*/
.short-list-body {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 60px;
}
.short-list-body h3 {
	font-size: 20px;
	color: #000000;
	margin-bottom: 15px;
	text-transform: uppercase;
	text-align: center;
}
.short-list-body ul {
	overflow: hidden;
}
.short-list-body li {
	float: left;
	width: 32%;
	margin-right: 2%;
	color: #000000;
}
.short-list-body li.last {
	margin-right: 0;
}

.short-list-body li .li-body {
	padding: 15px 15px;
	border: 1px solid #f5d200;
	background: url("../../img/kors/fon.jpg") repeat 50% 50% transparent;
}
.short-list-body li .li-body img {
	max-width: 100%;
	display: block;
	margin: 0 auto 10px;
}
.short-list-body li p {
	color: #000;
	font-size: 16px;
	line-height: 25px;
}
.cet {
    background: url("../../img/kors/sect.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    padding: 47px;
	margin-top: -40px;
	position: relative;
	z-index: 100;
}
/*END SHORT LIST*/

/*TEXT BLOCK*/
.text-block-body .text-left {
	width: 300px;
	float: left;
}
.text-block-body .text-left ul {
	padding-top: 10px;
}
.text-block-body .text-left li {
	margin-bottom: 30px;
}
.text-block-body .text-left li img {
	display: block;
}
.text-block-body .text-right {
	padding-left: 330px;
}
/*END TEXT BLOCK*/

/*GARANT*/
#garant {
	margin-top: -50px;
}
.garant-body {
	background: url('../../img/kors/garant.png') no-repeat 640px 28px transparent;
	width: 850px;
	margin: 0 auto;
	border: 1px solid #fdd900;
	padding: 20px 35px;
}
/*END GARANT*/

/*WHAT-IS*/
.what-is-body {
	width: 100%;
	padding-top: 20px;
	/*padding-left: 230px;*/
	/*background:url("http://brand-watch24.ru/media/css/img/what-is-pic.png") no-repeat 0 15px transparent;*/
	margin-bottom: 50px;
	
}
.what-is-body h2, .what-is-body p, .razmer-body h2, .razmer-body p {
	background: url("../../img/kors/transparent-bg.png") repeat 0 0 transparent;
}
.what-is-body h2 {
	text-align: center;
}
.razmer-body {
	/*padding-right: 370px;*/
	/*background: url("http://brand-watch24.ru/media/css/img/razmer-pic.png") no-repeat 90% 0 transparent;*/
	margin-bottom: 60px;
}
/*END WHAT IS*/

/*WHY*/
.why {
}
.why-body {
	padding-top: 20px;
}
.why-body h2 {
	font-size: 30px;
	text-align: center;
	line-height: 40px;
}
.why-body h2 small {
	color: #ffffff;
	font-weight: normal;
}
.plus-list {
	overflow: hidden;
}
.plus-list li {
	float: left;
	width: 24.5%;
	text-align: center;
	height: 230px;
	margin: 5px 0;
}
.three-row li {
	width: 25%;
}
.plus-list li h3 {
	font-size: 15px;
	font-weight: bold;
	color: #FFC706;
	text-transform: uppercase;
	line-height: 20px;
	margin: 15px 0;
	padding: 0 14px;
	
	
}
.plus-list li p {
	padding: 0 14px;
	font-size: 13.7px;
	line-height: 20px;
}
/*END WHY*/

/*WHEREFORE*/
.wherefore-body h2 {
	text-align: center;
	margin-bottom: 50px;
}
.wherefore-body {
	padding-bottom: 30px;
}
.wherefore-body h3 {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	color: #EFCB06;
	margin-bottom: 35px;
}
.wherefore-body .plus-list li {
	height: 210px;
	
}
.wherefore-body .video-frame {
	width: 500px;
	margin: 0 auto;
}
.alt-action {
	overflow: hidden;
	margin-bottom: 40px;
}
.alt-action h3 {
	margin-bottom: 0px;
}




/*slider*/
#button {
float:left;
margin:50px 10px 0 10px; /* отступы для кнопок */
}
.gallery-parent {
	position: relative;
	width: 988px;
	margin: 0 auto 15px;
}
.gallery-parent a.next, .gallery-parent a.prev {
	display: block;
	position: absolute;
	width: 30px;
	height: 41px;
	top: 50%;
	margin-top: -20px;
}
.gallery-parent a.next {
	background: url("../../img/kors/slide-next.png") no-repeat 0 0 transparent;
	right: -40px;
}
.gallery-parent a.prev {
	background: url("../../img/kors/slide-prev.png") no-repeat 0 0 transparent;
	left: -40px;
}
.gallery {
/*background-color:#FFCC99;
border: solid thin #FF9933;
border: 3px solid #ffffff;*/
}
.gallery  ul {
	overflow: hidden;
}
.gallery li{
	margin: 11px; /* пробел вокруг изображений */
	float: left;
	
} 
.gallery li img {
	width: 225px;
	height: 150px;
}
/*END WHEREFORE*/

/*DOCTOR FEEDBACK*/
.doctor-feedback {
	padding-top: 25px;
	background: url("../../img/kors/black_bg.jpg") repeat 0 0 transparent
}
.doctor-feedback-item {
	margin-bottom: 35px;
	overflow: hidden;
}
.doctor-feedback-photo {
	position: relative;
	float: left;
}
.doctor-feedback-photo img.photo {
	position: absolute;
	top: 0;
	left: 0;
}
.doctor-feedback-photo img.ramka {
	position: relative;
}
.doctor-feedback-content {
	padding-left: 350px;
}
.doctor-feedback-content dl {
	padding: 20px;
}
.doctor-feedback-content dt{
	margin-bottom: 20px;
}
.doctor-feedback-content dd {
	font-size: 20px;
	font-style: italic;
	color: #FFC706;
}
/*END DOCTOR FEEDBACK*/

.feed-list {
	overflow: hidden;
}
.feed-list li {
	float: left;
	width: 50%;
}
.feed-list li .feed-list-body {
	overflow: hiidden;
	padding: 20px;
}
.feed-list li .feed-pic {
	float: left;
}
.feed-list li .feed-pic img {
	width: 150px;
}
.feed-list li .feed-content{
	padding-left: 180px;
	width: 350px;
}

/*FEEDBACK*/
#feedback {
	/*margin-top: -250px;*/
}
.feed-list {
	overflow: hidden;
	margin-bottom: 20px;
}
.feed-list li {
	float: left;
	width: 50%;
	margin-bottom: 25px;
}
.feed-list li .li-body {
	padding-right: 25px;
}
.feed-list dl {
	padding-left: 55px;
	background: url("http://brand-watch24.ru/media/img/rado/quotes.png") no-repeat 0 7px transparent;
	padding-bottom: 10px;
}
.feed-list li dt {
	font-size: 16px;
	font-weight: bold;
	color: #FFC706;
	line-height: 25px;
}
.feed-list li dd, .feed-list li p {
	font-size: 15px;
	line-height: 20px;
}
#feedback-slider-wrap {
    margin: 0 auto;
    padding-bottom: 80px;
    position: relative;
    width: 1000px;
	/*border: 1px solid #0058af;*/
	padding: 20px 30px;
	/*background: #66B1D0;*/
}
#feedback-slider-wrap h2 {
	padding-bottom: 10px;
}
#feedback-slider {
    height: 215px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 850px;
}
#feedback-slider .slide {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	overflow: hidden;
}
#feedback-slider .slide .pic {
	width: 220px;
	float: left;
}
#feedback-slider .slide .feedback-content {
	padding-left: 230px;
	padding-top: 30px;
	
}
.feedback-content p {
	color: #ffffff;
	line-height: 22px;
	margin-bottom: 20px;
}
.feedback-content .feedback-contact {
	color: #f5d200;
}
#feedback-slider-wrap .prev {
    background: url("../../img/rado/item-prev.png") no-repeat scroll 0 0 transparent;
    bottom: 80px;
    height: 70px;
    left: 30px;
    position: absolute;
    width: 40px;
}
#feedback-slider-wrap .next {
    background: url("../../img/rado/item-next.png") no-repeat scroll 0 0 transparent;
    bottom: 80px;
    height: 70px;
    position: absolute;
    right: 30px;
    width: 40px;
}
/*END FEEDBACK*/


/*SHEMA*/
.shema {

}
.step-list {
	overflow: hidden;
	
}
.step-list li {
	float: left;
	width: 14.5%;
}
.step-list li.divider {
	width: 6.5%;
	height: 100px;
	background: url("../../img/kors/next-step.png") no-repeat 50% 10px transparent;
}
.step-number {
	width: 36px;
	height: 36px;
	background: url("../../img/kors/step-number.png") no-repeat 0 0 transparent;
	margin: 0 auto;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	line-height: 35px;
	margin-bottom: 10px;
}
.step-list li p {
	font-size: 13.7px;
	line-height: 20px;
	color: #D0D0D1;
	text-align: center;
}
/*END SHEMA*/

/*FEEDBACK*/
#feedback {
	/*margin-top: -250px;*/
}
.feed-list {
	overflow: hidden;
	margin-bottom: 20px;
}
.feed-list li {
	float: left;
	width: 50%;
	margin-bottom: 25px;
	height: 200px;
}
.feed-list li .li-body {
	padding-right: 25px;
}
.feed-list dl {
	padding-left: 55px;
	background: url("../../img/kors/quotes.png") no-repeat 0 7px transparent;
	padding-bottom: 10px;
}
.feed-list li dt {
	font-size: 16px;
	font-weight: bold;
	color: #FFC706;
	line-height: 25px;
}
.feed-list li dd, .feed-list li p {
	font-size: 15px;
	line-height: 20px;
	color: #000;
}
.feed-list .feedback-contact {
	color: #000;
	font-weight: bold;
}
#feedback-slider-wrap {
    margin: 0 auto;
    padding-bottom: 80px;
    position: relative;
    width: 1000px;
	/*border: 1px solid #0058af;*/
	padding: 20px 30px;
	/*background: #66B1D0;*/
}
#feedback-slider-wrap h2 {
	padding-bottom: 10px;
}
#feedback-slider {
    height: 215px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 850px;
}
#feedback-slider .slide {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
	overflow: hidden;
}
#feedback-slider .slide .pic {
	width: 220px;
	float: left;
}
#feedback-slider .slide .feedback-content {
	padding-left: 230px;
	padding-top: 30px;
	
}
.feedback-content p {
	color: #000;
	line-height: 22px;
	margin-bottom: 20px;
}
.feedback-content .feedback-contact {
	color: #D77B03;
}
.feedback-send {
	width: 800px;
	margin: 0 auto;
}
.feedback-send p {
	color: #000;
}
#feedback-slider-wrap .prev {
    background: url("../../img/kors/item-prev.png") no-repeat scroll 0 0 transparent;
    bottom: 80px;
    height: 70px;
    left: 30px;
    position: absolute;
    width: 40px;
}
#feedback-slider-wrap .next {
    background: url("../../img/kors/item-next.png") no-repeat scroll 0 0 transparent;
    bottom: 80px;
    height: 70px;
    position: absolute;
    right: 30px;
    width: 40px;
}
/*END FEEDBACK*/

/*CATALOG*/
.catalog-list {
	overflow: hidden;
	padding-bottom: 10px;
	list-style: none;
	
}
.catalog-list li {
	float: left;
	width: 25%;
	margin-bottom: 30px;
}
.catalog-list li .item-pic {
	position: relative;
	/*width: 200px;
	height: 301px;*/
	padding: 0 10px;
	margin: 0 auto;
	margin-bottom: -25px;
	/*height: 180px;*/
}
.catalog-list li .item-pic img{
	max-width: 100%;
}
.catalog-list li a.dsc {
	background: #cccccc;
	background: linear-gradient(to bottom, #ffffff 1%, #cccccc 100%) repeat scroll 0 0 transparent !important;
    border: 1px solid #cccccc;
	color: #000000;
	text-shadow: 0 1px 1px #ffffff;
}	
.catalog-list li a.dsc:hover {
    text-shadow: 0 0 16px #FFFF99, 0 1px 1px #666666;
}
.catalog-submit {
	text-align: center;
	margin-top: 10px;
}
.catalog-list li .item-pic span {
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	background: url("http://brand-watch24.ru/media/img/rayban/title-bg.png") repeat scroll 0 0 transparent;
	color: #ffffff;
	padding: 5px;
	font-size: 16px;
}
.price {
	margin-left: 60px;
}
span.new-price {
	font-size: 40px;
	color: #f5d200;
}
span.new-price sup {
	font-size: 20px;
	position: relative;
	top: -18px;
}
span.old-price {
	font-size: 20px;
	color: #999999;
	text-decoration: line-through;
	position: relative;
	left: -10px;
	top: -7px;
}

/*END CATALOG*/


/*COUNT*/
.timer {
	width:300px;
	margin: -20px auto 20px;
	padding-top: 25px;
	background: url('../../img/kors/action-time.png') center bottom no-repeat; 
	height: 141px;
	width: 350px;
}
.counter {
	width: 290px;
	padding: 45px 0 0 20px;
	margin: 0 auto;
}
.timer h4 {
	font-size: 19px;
	text-align: center;
	color: #fdd900;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.cntSeparator {
	margin-top: 23px;
	position: relative;
	left: 5px;
	
}
/*.count-body  {
	position: absolute;
	top: 200px;
	left: 600px;
	width: 420px;
	text-align: center;
}
.count-body   h3 {
	color: #D0D0D1;
	font-size: 25px;
	text-align: center;
}
.countdown_row {
	overflow: hidden;
	display: inline-block;
}
.countdown_section {
	float: left;
	font-size: 14px;
	color: #D0D0D1;
	text-align: center;
	font-family: Helvetica;
	text-transform: uppercase;
}
.countdown_amount {
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-family: Helvetica;
	color: #D0D0D1;
	font-size: 75px;
	font-weight: bold;
	line-height: 112px;
	width: 135px;
	display: inline-block;
	height: 125px;
	background: url("http://brand-watch24.ru/media/img/curren/cdbg-black.png") repeat-x 0 0 transparent;
	position: relative;
	top: 10px;
}
.count-logo {
	width: 70px;
	height: 77px;
	background: url("http://brand-watch24.ru/media/img/curren/alarm-logo.png") no-repeat 0 0 transparent;
	margin-left: 160px;
	margin-top: 15px;
}
.price {
	margin-bottom: 15px;
}
.new-price {
	display: inline-block;
	font-size: 60px;
	color: #FFC706;
	font-weight: bold;
	margin-left: 20px;
	font-style: italic;
}
.new-price sup {
	font-size: 35px;
	position: relative;
	top: -18px;
	font-style: italic;
}
.old-price {
font-style: italic;
	display: inline-block;
	font-size: 40px;
	color: #D0D0D1;
	text-decoration: line-through;
	
}
.count-static {
	position: static;
	margin: 0 auto;
	padding-top: 20px;
}
/*END COUNT*/

#dostavka p {
	color: #000;
}

/*FOOTER*/
.footer {
	
	/*padding-top: 100px;*/
	margin-top: -80px;
	background: #d77b03;
	padding-bottom: 5px;
}
.footer h2, h2.off-40, h2.h2-spec {
	height: 99px;
	background: url("../../img/kors/uspey-bg.png") repeat-x 0 0 transparent;
	text-align: center;
	font-size: 43px;
	font-weight: bold;
	color: #000000;
	line-height: 95px;
}
.h2-spec {
	height: 99px;
	background: url("../../img/kors/uspey-bg.png") repeat-x 0 0 transparent;
	color: #000000;
}
.footer h3 {
	font-size: 32px;
	font-weight: bold;
	color: #f5d200;
	text-align: center;
}
.footer  p {
	color: #ffffff;
}
.footer h2 strong, h2.off-40 strong {
	color: 000;
}
.footer p.h3-desc {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}
.footer p.h3-desc strong {
	color: #f5d200;
}
.footer .alt-action {
	margin-bottom: 20px;
}
.copyright {
	text-align: center;
	font-size: 12px;
}
.copyright a {
	color: #f5d200;
}
/*END FOOTER*/

.count-action {
	padding: 20px;
}
.count-action .loadcoverback {
	background: url("http://brand-watch24.ru/media/img/kors/form-bg.png") repeat 0 0 transparent;
}
.loadcover {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}

.loadcoverimg {
    background: url("../../img/kors/loading_black.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 32px;
    z-index: 1000;
}

.loadcoverback {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100% !important;
    opacity: 0.8;
    width: 100%;
}


control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline
	{
		color: #E10005;
		display: block;
		margin: 5px 0 0 0;
	}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea 
	{
		/*border-width: 3px;
		border-color: #E10005;*/
		background: #FFB0B0;
		color: #E10005;
		border-color: red;
	}	
.control-group.error .checkbox:focus, .control-group.error .radio:focus, .control-group.error input:focus, .control-group.error select:focus, .control-group.error textarea:focus
	{
		box-shadow: 0 0 6px #D59392;
		border-color: #953B39;
	}
.control-group.success .checkbox:focus, .control-group.success .radio:focus, .control-group.success input:focus, .control-group.success select:focus, .control-group.success textarea:focus
	{
		border-color: #356635;
		box-shadow: 0 0 6px #7ABA7B;
	}
.control-group.success .checkbox, .control-group.success .radio, .control-group.success input, .control-group.success select, .control-group.success textarea
	{
		color: #468847;
		border-color: #468847;
	}
.input-block {
	position: relative;
	padding-bottom: 10px;
}
.action-form .control-group.error .help-inline, .control-group.error .help-inline {
	display: block;
	font-size: 12px;
	margin: 0;
	color: #000000;
	color: #830000;
	margin-top: 2px;
	position: absolute;
	bottom: -2px;
	left: 2px;
	background: #ffffff;
	padding: 2px;
}
.action-form .input-block input {
	margin-bottom: 0;
	
}
#back-top {
	position: fixed;
	bottom: 30px;
	z-index: 9999;
	/*margin-left: -150px;*/
}
 
#back-top a {
	width: 108px;
	display: block;
	height: 15px;
	padding-top: 70px;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #333;
	background: url("../../img/kors/gototop.png") no-repeat 50% 0 transparent;
	opacity: 0.6;
	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	opacity: 1;
}	
#back-top span {
	width: 64px;
	height: 64px;
	display: block;
	margin-bottom: 7px;
	background: url("../../img/kors/gototop.png") no-repeat center center transparent;
	margin: 0 auto;
	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
}
.lock {
    /* Скрываем скроллбары */
    overflow: hidden;
}
.lock .modal {
    /* Показываем подложку (полупрозрачное затенение) при открытии модального окна */
    display: block;
 
    /* Саму подложку фиксируем и растягиваем на всё пространство */
    position: fixed;
    bottom: 0; left: 0; top: 0; right: 0;
 
    /* Если содержимое модального окна в подложку не влезает — показываем скроллбары */
    overflow: auto;
	z-index: 99999;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
}

#modalw 
	{
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		bottom: 0;
		right: 0;
		z-index: 999;
	}
#modalw table
	{
		width: 100%;
		height: 100%;
	}
#modalw td
	{
		vertical-align: middle;
		
	}
#make_order
	{
		width: 400px
	}
#make_order input, #make_order textarea
	{
		width: 80%;
	}
#make_order h3
	{
		margin-bottom: 5px;
	}
.modal_body
	{
		background: #000;
		/*margin: 30px 15px 5px 0;*/
		padding: 10px 20px 20px;
		width: 300px;
		margin: 30px auto 30px;
		position: relative;
		display: none;
		border: 1px solid #ffc706;
	}

.modal_body h3
	{
		color: #ffffff;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 15px;
	}
a.cancel
	{
		display: block;
		position: absolute;
		top: -14px;
		right: -12px;
		background: url("../../img/kors/fancybox_sprite.png") no-repeat 0 0 transparent;
		width: 34px;
		height: 34px;
		text-decoration: none;
		z-index: 1000;
	}

.modal_body input {
	color: #666666;
	width: 86%;
	border-radius: 0px;
	padding: 0 20px;
	height: 32px;
	font-size: 16px;
	background: #ECECEC;
	border: none;
	border-top: 1px solid #6A6E74;
	border-right: 1px solid #8B676E;
	border-left: 1px solid #B4AEB7;
	border-bottom: 1px solid #CEC5C9;
}
.modal_body textarea {
	width: 89.5%;
	border-radius: 0;
	padding: 10px 10px 10px 20px;
	height: 80px;
	font-size: 14px;
	border-color: #6A6E74 #8B676E #CEC5C9 #B4AEB7;
	border-style: solid;
	border-width: 1px;
	background: #ECECEC;
	resize: none;
	margin: 0;
	/*background: url("http://brand-watch24.ru/media/img/plasma/input-bg.png") repeat-x 0 0 #ECECEC;*/
}


.gift_img1{
	height: 380px;
}

.action-title{
	padding-left: 310px; 
	position: relative; 
	top: -30px; 
	width: 800px;
}
