@font-face {
    font-family: 'Intro-Light-Alt';
    src: url('fonts/Intro-Light-Alt.eot');
    src: url('fonts/Intro-Light-Alt.eot?#iefix') format('embedded-opentype'),
         url('fonts/Intro-Light-Alt.woff') format('woff'),
         url('fonts/Intro-Light-Alt.ttf') format('truetype'),
         url('fonts/Intro-Light-Alt.svg#Intro-Light-Alt') format('svg');
}
@font-face {
    font-family: 'Intro-Black-Caps';
    src: url('fonts/Intro-Black-Caps.eot');
    src: url('fonts/Intro-Black-Caps.eot?#iefix') format('embedded-opentype'),
         url('fonts/Intro-Black-Caps.woff') format('woff'),
         url('fonts/Intro-Black-Caps.ttf') format('truetype'),
         url('fonts/Intro-Black-Caps.svg#Intro-Black-Caps') format('svg');
}
@font-face {
    font-family: 'GothamPro';
    src: url('fonts/GothamPro.eot');
    src: url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothamPro.woff') format('woff'),
         url('fonts/GothamPro.ttf') format('truetype'),
         url('fonts/GothamPro.svg#GothamPro') format('svg');
}
@font-face {
    font-family: 'GothamPro-Bold';
    src: url('fonts/GothamPro-Bold.eot');
    src: url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothamPro-Bold.woff') format('woff'),
         url('fonts/GothamPro-Bold.ttf') format('truetype'),
         url('fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
}
@font-face {
    font-family: 'GothamPro-Black';
    src: url('fonts/GothamPro-Black.eot');
    src: url('fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothamPro-Black.woff') format('woff'),
         url('fonts/GothamPro-Black.ttf') format('truetype'),
         url('fonts/GothamPro-Black.svg#GothamPro-Black') format('svg');
}
@font-face {
    font-family: 'Intro';
    src: url('fonts/Intro.eot');
    src: url('fonts/Intro.eot?#iefix') format('embedded-opentype'),
         url('fonts/Intro.woff') format('woff'),
         url('fonts/Intro.ttf') format('truetype'),
         url('fonts/Intro.svg#Intro') format('svg');
}
@font-face {
    font-family: 'GothamPro-Medium';
    src: url('fonts/GothamPro-Medium.eot');
    src: url('fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothamPro-Medium.woff') format('woff'),
         url('fonts/GothamPro-Medium.ttf') format('truetype'),
         url('fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
}
@font-face {
    font-family: 'BebasNeueCyrillic';
    src: url('fonts/BebasNeueCyrillic.eot');
    src: url('fonts/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeueCyrillic.woff') format('woff'),
         url('fonts/BebasNeueCyrillic.ttf') format('truetype'),
         url('fonts/BebasNeueCyrillic.svg#BebasNeueCyrillic') format('svg');
}
body p{
    -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}

:focus {outline:none;}
input:active,
input
{
    box-shadow: none;
    cursor: pointer;
}
a,#colorbox, #cboxWrapper {
    outline: none; /* Убираем границу вокруг ссылок  */
    border: none;
    text-decoration: none;
   }
body,p,div,h1,h2,h3{
    margin: 0;
    padding: 0;
    }

.dnone{
    display: none;
}
#result
{
    font-family: 'Intro-Light-Alt';
    left: 50%;
    margin-left: -394px;
    margin-top: -204px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    z-index: 9999;
    display: none;
    text-align: center;
}
#spasibo{
    background: none repeat scroll 0 0 #fff;
    color: #000;
    height: 200px;
    padding: 100px 103px;
    width: 544px;
}
#spasibo h3{
    color:#fe2d06;
    font-family: 'Intro-Black-Caps';
    font-size: 48px;
    width: 542px;
    margin: 0 auto;
    text-decoration: underline;
}
#spasibo p{
    color:#191919;
    font-family: 'GothamPro';
    font-size: 24px;
    text-align: center;
    margin-top: 44px;
}
#cboxTitle{
    display: none;
}
html {
          -webkit-text-size-adjust: none;
       }
#header{
    background: url("img/menu.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    height: 43px;
    margin: -2px 0 0;
    overflow: hidden;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    -webkit-overflow-scrolling:touch;
}
.menu{
    width: 915px;
    height: 43px;
    margin: 0 auto;
    padding: 11px 0 0;
}
.menu a{
    color:#fff;
    font-size: 18px;
    font-family: 'Intro-Light-Alt';
    padding: 0px 18px;
}
#block1
{
    width: 880px;
    height: 151px;
    overflow: hidden;
    margin: 0 auto;
}
.logo{
    font-family: 'Intro-Black-Caps';
    font-size: 30px;
    color: #000;
    text-decoration: none;
}
.b1{
    float: left;
    width: 250px;
    height: 60px;
    margin-top:58px ;
}
.b1 p{
    font-size: 14px;
    color: #000;
    font-family: 'GothamPro';
}
.b1_1{
    text-align: right;
    float: left;
    width: 398px;
    height: 48px;
    margin-top:72px ;
}
.b1_1 a.phone{
    color: #191919;
    font-family: 'Intro-Black-Caps';
    font-size: 24px;
}
.b1_1 p{
    color: #191919;
    font-size: 14px;
    font-family: 'GothamPro';
}
.callme{
    font-family: 'GothamPro-Bold';
    background: url('img/callme.jpg') no-repeat;
    display: block;
    float: left;
    padding: 13px 18px;
    border-radius: 5px;
    color: #fff;
    margin: 75px 0px 0 20px;
    font-size: 15px;
}
.slider{
    width: 100%;
    height: 592px;
    margin: 0 auto;
}
.slider .itt{
    background: url('img/sl1.jpg') no-repeat center center;
    height: 592px;
}
.slider .itt1{
    background: url('img/sl2.jpg') no-repeat center center;
    height: 592px;
}
.slider .itt2{
    background: url('img/sl3.jpg') no-repeat center center;
    height: 592px;
}
.slider .itt3{
    background: url('img/sl4.jpg') no-repeat center center;
    height: 592px;
}
.slider h2{
    background: #eb2f0c;
    font-family: 'GothamPro-Black';
    font-size: 72px;
    width: 494px;
    color:#fff;
}
.text1{
    width: 870px;
    height: 200px;
    margin: 0 auto 0;
    padding-top: 107px;
}
.text1 p
{
    background-color: #eb2f0c;
    background-color:  rgba(235, 47, 12, 0.81);
    color: #fff;
    font-family: "GothamPro-Bold";
    font-size: 30px;
    margin: 18px 0 32px;
    padding: 3px 7px;
    width: 418px;
}
.vibor{
    background: url("img/btn2.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: #fff;
    font-family: "GothamPro-Bold";
    font-size: 14px;
    padding: 13px 18px 13px 54px;
    text-transform: uppercase;
}
#block2{
     background: url("img/bg2.jpg") no-repeat scroll center 0 rgba(0, 0, 0, 0);
     height: 174px;
     width: 100%;
     clear:both;
}
.b2{
    margin-top: 10px;
    width: 954px;
    margin: 0 auto;
}
.b2 p
{
    color: #fff;
    float: left;
    font-family: "GothamPro-Black";
    font-size: 22px;
    margin: 58px 26px 0;
    text-align: center;
    text-transform: uppercase;
    width: 189px;
}
.b2 p span
{
   
    font-size: 36px;
}
#block3_1{
     background: url("img/strelka.png") no-repeat scroll 556px 39px rgba(0, 0, 0, 0);
    height: 186px;
    margin: 0 auto;
    overflow: hidden;
    width: 900px;
}
#block3{
    background: url("img/bg3.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
     height: 854px;
     width: 100%;
}
.b3_1{
    background: #f1320a;
    font-family: 'Intro';
    color: #fff;
    width: 313px;
    text-align: center;
    font-size: 72px;
    margin-top: 68px;
    float: left;
}
.b3_2{
  float: left;
  font-family: "GothamPro-Medium";
  font-size: 20px;
  margin: 68px 4px 0 12px;
  text-transform: uppercase;

}
.b3_2 span{
     font-family: 'GothamPro-Black';
     font-size: 60px;
     color: #f83a0b;
}
.b3_3
{
    width: 280px;
    height: 472px;
    float: left;
}
#block3_2{
    width: 954px;
    height: 570px;
    overflow: hidden;
    margin: 0 auto;
}
.b3_4{
    float: left;
    width: 305px;
    margin: 50px 5px;
}
.b3_4 h3{
    font-family: "GothamPro-Bold";
    font-size: 27px;
}
.b3_4_1{
    font-family: "GothamPro";
    font-size: 18px;
    margin: 7px 0;
}
.b3_4_2 span{
    font-family: 'GothamPro-Black';
    font-size: 24px;
    text-decoration: line-through;
    color: #000;
}
.b3_4_2 
{
    border-top: 1px dashed #000;
    width: 279px;
    font-family: 'GothamPro-Black';
    font-size: 63px;
    text-decoration: none;
    color: #f1320a;
}
.b3_4 .zakazat{
    font-family: 'GothamPro-Bold';
    background: url('img/btn3.jpg') no-repeat;
    display: block;
    padding: 21px 14px 19px 43px;
    border-radius: 5px;
    color: #fff;
    margin: 18px 51px 0px 20px;
    font-size: 15px;
}
#block4{
    width: 100%;
    height: 640px;
    margin: 0 auto;
}
.block4_1{
    width: 954px;
    height: 640px;
    overflow: hidden;
    margin: 0 auto;
}
.sliderContent .item.sl1_1{
    background: url('img/sl2_1.jpg') no-repeat center center;
    width: 100%;
    height: 640px;
}
.sliderContent .item.sl1_2{
    background: url('img/111.jpg') no-repeat center center;
    width: 100%;
    height: 640px;
}
.sliderContent .item.sl1_3{
    background: url('img/sl1_3.jpg') no-repeat center center;
    width: 100%;
    height: 640px;
}
.sliderContent .item.sl1_4{
    background: url('img/sl1_4.jpg') no-repeat center center;
    width: 100%;
    height: 640px;
}
#block4 h2{
    font-size: 48px;
    color: #fff;
    font-family: 'Intro';
    background: #ee2f0a;
    text-align: right;
    width: 700px;
    margin-top: 92px;
    float: right;
}
#block4 p
{
    font-family: 'GothamPro-Bold';
    font-size: 29px;
    color:#fff;
    width: 600px;
    float: right;
    margin: 72px 0px;
}
#block4 p span
{
    background: #144758;
    padding: 0 7px;
    line-height: 39px;
}
#block4 .sl1_2 p span,
#block4 .sl1_3 p span,
#block4 .sl1_4 p span {
    background: #fff;
    color:#000;
}
.vibor2{
    font-family: 'GothamPro-Bold';
    background: url('img/btn3.jpg') no-repeat;
    display: block;
    padding: 21px 0px 19px 69px;
    border-radius: 5px;
    color: #fff;
    margin: 84px 55px 0px 0px;
    font-size: 20px;
    background-size: 308px;
    width: 239px;
}
#block5{
    width: 954px;
    height: 770px;
    margin: 0 auto;
    clear: both;
}
#block5 .b51
{
    width: 462px;
    height: 228px;
    margin: 0 auto;
    text-align: center;
    padding-top: 33px;
}
#block5 h2{
    color:#f1320a;
    font-size: 24px;
    font-family: 'Intro';
    margin: 18px 0;
}
#block5 p{
    color:#191919;
    font-size: 15px;
    font-family: 'GothamPro-Bold';
}
#block5 .b52
{
    width: 886px;
    height: 263px;
    margin: 0 auto;
}
.b52_1{
    width: 268px;
    text-align: right;
    float: left;
    padding-top: 20px;
}
.b52_1 img{
    float: right;
    margin: 8px;
    margin-bottom: 0;
}
#block5 .b52_1 h2{
    margin-bottom: 3px;
}
#block5 .b52_1 p{
    margin-right: 11px;
}
.b52_2{
    background: url('img/b53.jpg') no-repeat center center;
    float: left;
    width: 264px;
    height: 264px;
    text-align: center;
    font-size: 37px;
    color:#fff;
    font-family: 'Intro';
    margin: 0 48px;
}
.b52_2 h3
{
    padding: 64px 0px 0 6px;
}
.b52_2 span
{
    font-size: 72px;
}
.b52_3{
    width: 253px;
    text-align: left;
    float: left;
    padding-top: 20px;
}
.b52_3 img{
    float: left;
    margin: 5px;
    margin-bottom: 0;
}
.b52_2 h3
{
    padding: 64px 0px 0 6px;
}
.b52_2 p
{
    margin-left: 3px;
}
#block5 .b53
{
    width: 462px;
    height: 228px;
    margin: 0 auto;
    text-align: center;
    padding-top: 33px;
}
#block6{
    width: 100%;
    height: 336px;
    background: url('img/bg6.jpg') no-repeat center center;
}
.b6{
    width: 954px;
    margin: 0 auto;
}
.b6 #form2{
    margin-left: 316px;
}
.b6_1{
    font-family: 'Intro';
    font-size: 30px;
    color:#fff;
    padding-top: 27px;
}
.name2{
   background: url("img/input1.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    margin: 30px 9px 0 0;
    padding: 14px 70px;
    width: 143px;
    float: left;
}
#name2{
    border: medium none;
    box-shadow: none;
    height: 31px;
    margin-left: -28px;
    padding-left: 14px;
    width: 210px;
}
.phone2{
    background: url("img/input2.jpg") no-repeat scroll 44px 11px rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    float: left;
    margin: 30px 0 0;
    padding: 14px 13px 14px 70px;
}
#phone2
{
    border: medium none;
    box-shadow: none;
    height: 31px;
    margin-left: 15px;
    padding-left: 24px;
    width: 195px;
}
#bottom2
{
    font-family: 'GothamPro-Bold';
    background: #fe2706;
    text-transform: uppercase;
    font-size: 24px;
    border: none;
    color: #fff;
    padding: 17px 24px;
    border-radius: 5px;
    margin: 30px 0 0 0;
}

.btn_submit
{
font-family: "GothamPro-Bold";
background: none repeat scroll 0% 0% #FE2706;
text-transform: uppercase;
font-size: 24px;
border: medium none;
color: #FFF;
padding: 17px 24px;
border-radius: 5px;
margin: 30px 0px 0px;
}


.btn_submit2
{
clear: both;
background: linear-gradient(to bottom, #F24011 0%, #E31E07 100%) repeat scroll 0% 0% transparent;
color: #FBE1D9;
font-family: "Intro";
font-size: 27px;
text-shadow: 1px 3px 2px #8E473A;
width: 350px;
height: 68px;
margin-top: 33px;
text-transform: uppercase;
float: left;
}

#block7{
    background: url('img/bg7.jpg') repeat;
    width: 100%;
    height: 1304px;
    overflow: hidden;
}
.b7{
    width: 1000px;
    height: 1304px;
    margin: 0 auto;
    background: url('img/bgb7.png') repeat;
    padding-top: 40px;
}
.b7 h2{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'GothamPro-Black';
}
.b7 h3{
    font-size: 30px;
    font-family: 'GothamPro-Bold';
    color:#fe2d06;
}
.b7 p{
    font-size: 25px;
    font-family: 'GothamPro';
    color:#191919;
}
.b7_1{
   background: url('img/b7_1.png') no-repeat 0 0; 
   width: 100%;
   height: 379px;
}
.b7_1 h2
{
    padding: 69px 0px 0px 95px;
}
.b7_1 h3
{
    padding: 54px 0px 0px 98px;
}
.b7_1 p
{
    padding: 19px 0px 0px 107px;
}
.b7_2{
   background: url('img/b7_2.png') no-repeat center center; 
      width: 100%;
   height: 426px;
   margin-top: 28px;
}
.b7_2 h2
{
    padding: 55px 0px 0px 300px;
}
.b7_2 h3
{
    padding: 39px 0px 0px 300px;
}
.b7_2 p
{
    padding: 19px 0px 0px 300px;
    font-size: 19px;
}
.b7_3{
   background: url('img/b7_3.png') no-repeat center center; 
      width: 100%;
   height: 351px;
   margin-top: 11px;
}
.b7_3 h2
{
    padding: 6px 0px 0px 95px;
}
.b7_3 h3
{
    padding: 54px 0px 0px 98px;
}
.b7_3 p
{
    padding: 19px 0px 0px 98px;
    font-size: 19px;
}
#block8{
    display: none;
    background: url('img/b8.jpg') no-repeat center center;
    width: 100%;
    height: 603px;
    text-align: center;
}
#block8 img{
    box-shadow: 0 0 19px #fff;
    margin: -42px auto 0;
}
#block9{
    background: url('img/b9.jpg') no-repeat center center;
    width: 100%;
    height: 703px;
}
#block9 h2{
    color: #015395;
    font-family: "Intro";
    font-size: 48px;
    padding-bottom: 69px;
    padding-left: 70px;
    text-align: left;
}
#block9 .b9{
    width: 1000px;
    margin: 0 auto;
}
#block9 p{
    font-size: 18px;
    font-family: 'GothamPro';
    color:#191919;
    width: 512px;
}
#block9 h3{
    color: #fe2d06;
    font-family: "GothamPro-Bold";
    font-size: 26px;
    margin: 20px 0;
    width: 512px;
}
#block9 h3 span
{
    font-size: 48px;
}
{
    width: 512px;
}
.b91{
    background: url("img/b91.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 627px;
    margin-left: 74px;
    padding-left: 108px;
    margin-bottom: 40px;
}
.b92{
    background: url("img/b92.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 627px;
    margin-left: 74px;
    padding-left: 108px;
    margin-bottom: 40px;
}
.b93{
    background: url("img/b93.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    width: 627px;
    margin-left: 74px;
    padding-left: 108px;
    margin-bottom: 40px;
}
#block10{
    height: 400px;
    background: url("img/block10.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}
#block10 .b10
{
    width: 810px;
    margin: 0 auto;
}
#block10 .b10 h2
{
    color: #fff;
    font-family: "Intro";
    font-size: 48px;
    margin-bottom: 46px;
    padding-top: 45px;
}
#block10 .b10 p{
    color: #fff;
    float: left;
    font-family: "GothamPro";
    font-size: 24px;
    padding: 0 0 47px 43px;
    text-transform: uppercase;
    width: 354px;
}
#block11{
    height: 595px;
    background: url("img/block11.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.b11{
    width: 838px;
    margin: 0 auto;
    
}
.b11 h2{
    color: #01408c;
    font-family: "Intro";
    font-size: 48px;
    padding: 43px 0 55px;
}
.b11_2{
    width: 410px;
    float: left;
    margin-right: 37px;
}
.b11_2 img
{
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 47px;
}
#block13 .b11_2 p,
#block11 .b13_2 p,
.b14_1 p
{
    color: #272727;
    font-family: "GothamPro-Bold";
    font-size: 26px;
    margin: 17px 0 19px;
}
#block13 .b11_2 a,
.b13_2 a,
.b14_1 a{
    background: url("img/btn11.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: #fbe1d9;
    font-family: "GothamPro";
    font-size: 12px;
    padding: 13px 16px;
}
.b11_3 h3,
.b13 h3
{
    color: #fe2d06;
    font-size: 36px;
    font-family: "Intro";
    margin-bottom: 35px;
}
.b11_3 h3 span,
.b13 h3 span
{    
    font-family: 'GothamPro-Black';
    
}
.b11_3 p,
.b13 p,
.b14 p {
  color: #191919;
  font-family: "GothamPro";
  font-size: 19px;
  line-height: 28px;
}
.b11_3 p b,
.b13 p b,
.b14 p b
{
    font-family: "GothamPro-Bold";
    font-weight: normal;
}
p.cena{
    font-family: "GothamPro-Black";
    font-size: 24px;
    margin-top: 51px;
    float: left;
}
p.cena span{
    font-size: 72px;
    color:#f1320a;
}
p.cena i{
    font-size: 18px;
    color:#f1320a;
    font-style: normal;
}
#block12{
    height: 251px;
    background: url("img/b12.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.b12,
.b15{
    width: 880px;
    margin: 0 auto;
}
.b12 img{
    margin: 16px 0 0 320px ;
}
.b13_1{
    clear: both;
}
.b12 a,
.b13_1 a,
.b15 a{
    background: url("img/b12.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    color: #fbe1d9;font-family: "GothamPro-Black";
    font-size: 36px;
    padding: 19px 27px;
    text-shadow: 1px 3px 2px #7e5002;
}
.b12 a
{
    float: right;
    margin-top: 75px;
}
#block13{
    height: 482px;
    background: url("img/bg13.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
    
}
.b13{
    background: url("img/b13.png") no-repeat scroll 405px 77px rgba(0, 0, 0, 0);
    margin: 0 auto;
    padding-top: 89px;
    width: 845px;
}
.b13_1  p.cena{
    float:left;
    
}
.b13_1 a{
    float: left;
    margin: 30px 43px 0 23px;
}
#block11 .b13_2
{
    border-left: 1px solid #ccc;
    float: left;
    margin-top: 28px;
    padding: 0 0 19px 35px;
}
#block11 .b13_2 p
{
    font-size: 20px;
    margin-top: 0;
}
#block14{
     height: 489px;
    background: url("img/b14.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.b14,
.b14_1{
    width: 843px;
    margin: 0 auto;
}
.b14 img{
    float: left;
    margin-right: 20px;
     margin-top: 25px;
}
.b14 h3{
    color: #fe2d06;
    font-family: "Intro";
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: -7px;
}
.b14 p{
    font-size: 15px;
}
.b14_1
{
    border-top: 1px solid #c9c9c9;
    margin-top: 40px;
}
.b14_1 p.cena{
    margin-top: 20px;
    float: right;
}
#block15{
    height: 281px;
    background: url("img/b15.jpg") no-repeat scroll center center rgba(0, 0, 0, 0);
}
.b15 a
{
    float: right;
    margin-top: 84px;
}
#block16{
    width: 695px;
    margin: 0 auto;
    min-height: 645px;
}
#block16 h2{
    color: #01408c;
    font-family: "Intro";
    font-size: 48px;
     margin: 30px 0 46px;
    text-decoration: underline;
    text-transform: uppercase;
}
#block16 h3
{
    color: #fe2d06;
    font-family: "Intro";
    font-size: 24px;
    padding-top: 0px;
    max-height: 63px;
    max-width: 687px;
}
#block16 h3 a
{
    color: #fe2d06;}
#block16 h3 span
{
    font-size: 14px;
}
#block16 p
{
    color:#1b1c21;
    font-family: "GothamPro";
  font-size: 17px;
  height: 44px;
  max-width: 687px;
  max-height: 129px;
}
#block16 img{
    border: 7px solid #e8e8e8;
    border-radius: 60px;
    float: left;
    margin: 0 22px;
}
.b16_1 {
    margin: 18px 0;
    min-height: 135px;
}
#footer{    
    border-top: 1px solid #d1d1d1;
}
#footer #block1{
     border-bottom: 1px solid #d1d1d1;
}
.footer{
    color:#191919;
    font-size: 14px;
    font-family: "GothamPro";
    text-align: center;
    margin: 20px 0;
    height: 18px;
}
#footer #block1 .b1{
    margin-top: 26px;
}

#footer #block1 .b1_1,
#footer #block1 .callme{
    margin-top: 34px;
}
#footer #block1
{
    height: 110px;
}
.slider {
float:left;
width: 100%;
height: 592px;
position:relative;
}

.sliderContent {
float:left;
min-width: 100%;
height: 592px;
clear:both;
position:relative;
overflow:hidden;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
width:42px;
height:42px;
position:absolute;
top:50%;
margin-top:-34px;
}

.prev {
background-position:0 0;
left:15px;
}

.prev:hover {
background-position:0 -44px;
}

.next {
right:15px;
background-position:-44px 0;
}

.next:hover {
background-position:-44px -44px;
}

.sliderContent .item {
position:absolute;
width:100%;
height:593px;
background:#fff;
}

.sliderBullets {
position:absolute;
bottom:0;
left:50%;
z-index:50;
margin-left:-45px;
bottom: 25px;
}

.sliderBullets a {
background: url("img/bullets.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: block;
float: left;
height: 11px;
margin-left: 5px;
outline: medium none;
text-indent: -9999px;
width: 10px;
display:block;
float:left;
text-indent:-9999px;
outline:none;
margin-left:5px;
width:10px;
height:11px;
}

.sliderBullets .active {
background-position:0 -11px;
}

.sliderContent a {
outline:none;
}
.chasi{
    float: left;
    height: 150px;
    margin-top: 24px;
    overflow: hidden;
    width: 257px;
}
#countdown
{
    background: url("img/count.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 125px;
    overflow: hidden;
}
.countdownHolder{
        font-size: 26px;
    letter-spacing: -3px;
    margin: 16px auto;
    text-align: center;
    width: 314px;
}
.position{
    display: inline-block;
    height: 61px;
    overflow: hidden;
    position: relative;
    width: 25px;
    top: 16px;
    left: -7px;
}
.digit{
    color: #fff;
    display: block;
    font-family: "BebasNeueCyrillic";
    font-size: 60px;
    letter-spacing: 0px;
    position: absolute;
    text-align: center;
    width: 27px;
}
.digit.static{
        
}
/**
 * Вы можете использовать эти стили для скрытия некоторых блоков
 */
.countDays{ 
    left: -29px;
    position: relative;
    top: 13px; }
.countDiv0{ 
    
}
.countHours{
    left: -23px;
    position: relative;
    top: 13px;
}
.countDiv1{}
.countMinutes{
    left: -17px;
    position: relative;
    top: 13px;
}
.countDiv2{}
.countSeconds{
    left: -11px;
    position: relative;
    top: 13px;
}
.countDiv{
        display:inline-block;
        width:16px;
        height:1.6em;
        position:relative;
}
.countDiv:before,
.countDiv:after{
        position:absolute;
        width:5px;
        height:5px;
        background-color:#444;
        border-radius:50%;
        left:50%;
        margin-left:-3px;
        top:0.5em;
        box-shadow:1px 1px 1px rgba(4, 4, 4, 0.5);
        content:'';
}
.countDiv:after{
        top:0.9em;
}
#hide_box{
    padding: 45px 60px;
}
.f1{
   color: #191919;
  font-family: "GothamPro";
  font-size: 24px; 
  margin: 37px 0;
}
#hide_box3 .f1,
#hide_box4 .f1,
#hide_box5 .f1{
    font-size: 22px;
}
#hide_box3,
#hide_box4,
#hide_box5{
    padding: 47px;
    padding-bottom: 0;
}
#hide_box h1,
#hide_box3 h1,
#hide_box4 h1,
#hide_box5 h1{
  font-family: 'Intro-Black-Caps';
  color: #191919;
  font-size: 30px;
  border-bottom: 2px solid #fe2d06;
  width: 244px;
}
#hide_box input,
#hide_box3 input,
#hide_box4 input,
#hide_box5 input{
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    width: 243px;
    height: 44px;
    font-family: "GothamPro";
    font-size: 14px;
    padding: 0 17px;
}
.input_name,
.input_phone{
    float: left;
    margin-right: 14px;
    
}
input#bottom,
input#bottom3,
input#bottom4,
input#bottom5{
    clear:both;
    background: #f24011;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyNDAxMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMzFlMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f24011 0%, #e31e07 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f24011), color-stop(100%,#e31e07));
    background: -webkit-linear-gradient(top,  #f24011 0%,#e31e07 100%);
    background: -o-linear-gradient(top,  #f24011 0%,#e31e07 100%);
    background: -ms-linear-gradient(top,  #f24011 0%,#e31e07 100%);
    background: linear-gradient(to bottom,  #f24011 0%,#e31e07 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f24011', endColorstr='#e31e07',GradientType=0 );
    color:#fbe1d9;
    font-family: "Intro";
    font-size: 27px;
    text-shadow: 1px 3px 2px #8e473a;
    width: 350px;
    height: 68px;
    margin-top: 33px;
    text-transform: uppercase;
    float:left;
}
#hide_box3{
    background: url("img/z07_5.jpg") no-repeat scroll 670px 67px rgba(0, 0, 0, 0);
    height: 334px;
}

#hide_box4{
    background: url("img/z075.jpg") no-repeat scroll 670px 67px rgba(0, 0, 0, 0);
    height: 334px;
}
#hide_box5{
    background: url("img/gopro.jpg") no-repeat scroll 670px 67px rgba(0, 0, 0, 0);
    height: 334px;
}
#hide_box5 h1{
    width: 383px;
}
#hide_box4 h1{
    width: 272px;
}
#hide_box3 h1{
    width: 267px;
}
p.myc{
    color: #000;
    font-family: "GothamPro";
    font-size: 36px;
    margin-top: 14px;
    float:left;
}
p.myc span{

    color: #eb2f0c;
    font-family: "GothamPro-Bold";
    font-size: 90px;
    margin-left: 255px;
}
#myvk{
    width: 1000px;
    margin: 0 auto;
}